[package]
name = "fluvio-cli-common"
version = "0.0.0"
edition = "2021"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio CLI common code"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
publish = false

[lib]
name = "fluvio_cli_common"
path = "src/lib.rs"

[features]
default = ["fluvio-types"]
file-records = ["fluvio-protocol/record", "fluvio-protocol/api"]

[dependencies]
tracing = "0.1.19"
semver = "1.0.0"
home = "0.5.3"
sha2 = "0.10.0"
hex = "0.4.2"
tempdir = "0.3.7"
thiserror = "1.0.20"
http = { version = "0.2", default-features = false}
isahc = { version = "1.7", default-features = false, features = ["static-curl"] }
futures = { version = "0.3" , default-features = false, features = ["std", "io-compat"]}
anyhow = { version = "1.0.38" }

fluvio-package-index = { path = "../fluvio-package-index", features = ["http_agent"] }
fluvio-types = { path = "../fluvio-types", optional = true }

fluvio = { path = "../fluvio", default-features = false, optional = true }
fluvio-protocol = { path = "../fluvio-protocol", optional = true }

[dev-dependencies]
fluvio-future = { version = "0.4.0", features = ["fs", "io", "subscriber", "native2_tls", "fixture"] }
tempfile = "3.3.0"