[package]
name = "fluvio-controlplane-metadata"
edition = "2021"
version = "0.22.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Metadata definition for Fluvio control plane"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"

[lib]
name = "fluvio_controlplane_metadata"
path = "src/lib.rs"

[features]
smartmodule = ["flate2","toml","use_serde"]
use_serde = ["serde","semver/serde"]
k8 = ["use_serde", "fluvio-stream-model/k8"]

[dependencies]
tracing = { workspace = true }
serde = { workspace = true, features = ['derive'], optional = true }
async-trait = "0.1.21"
thiserror = { workspace = true }
base64 = { workspace = true }
bytes = { workspace = true }
flate2 = { version = "1.0.22", optional = true }
semver = "1.0"
toml = { workspace = true, optional = true }
lenient_semver = "0.4.2"

# External Fluvio dependencies
fluvio-future = { workspace = true }
flv-util = { workspace = true }

fluvio-types = { version = "0.4.0", path = "../fluvio-types" }
fluvio-stream-model = { path = "../fluvio-stream-model", version = "0.9.0" }
fluvio-protocol = { path = "../fluvio-protocol", version = "0.9", features = [
    "record",
] }


[dev-dependencies]
serde_yaml = "0.9.19"
fluvio-future = { version = "0.4.0", features = ["fixture"] }
