[package]
name = "fluvio-controlplane-metadata"
edition = "2021"
version = "0.30.1"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Metadata definition for Fluvio control plane"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"

[lib]
name = "fluvio_controlplane_metadata"
path = "src/lib.rs"

[features]
smartmodule = ["flate2","toml","use_serde"]
use_serde = ["serde","semver/serde", "bytesize/serde", "humantime-serde", "serde_yaml"]
k8 = ["use_serde", "fluvio-stream-model/k8"]

[dependencies]
cfg-if = { workspace = true }
thiserror = { workspace = true }
base64 = { workspace = true }
bytes = { workspace = true }
flate2 = { workspace = true,  optional = true }
lenient_semver = "0.4.2"
semver = { workspace = true }
serde = { workspace = true, features = ['derive'], optional = true }
toml = { workspace = true,  default-features = true, optional = true, features = ["parse"] }
tracing = { workspace = true }
bytesize = { workspace = true }
humantime-serde = { workspace = true, optional = true }
anyhow = { workspace = true }
serde_yaml = { workspace = true, optional = true }
derive_builder = { workspace = true }

# External Fluvio dependencies
flv-util = { workspace = true }

fluvio-types = { workspace = true }
fluvio-stream-model = { workspace = true }
fluvio-protocol = { workspace = true, features = [ "record", "link", "api"] }


[dev-dependencies]
serde_json = { workspace = true }
