[package]
name = "check-crate-version"
version = "0.0.0"
publish = false
edition = "2021"
license = "Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
toml-diff = { path = "toml-diff" }
clap = { workspace = true,features = ["derive", "env"] }
flate2 = "1.0.24"
reqwest = { version = "0.11.11", features = ["json"] }
semver = "1.0.13"
serde = { version = "1.0.144", features = ["serde_derive"] }
serde_json = "1.0.85"
tar = "0.4.38"
toml = "0.7.3"
tokio = { version = "1.21.0", features = ["rt-multi-thread", "macros"] }
