[package]
edition = "2021"
name = "fluvio-storage"
version = "0.0.0"
authors = ["fluvio.io"]
description = "Storage for Fluvio platform"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
publish = false

[[bin]]
name = "storage-cli"
path = "src/bin/cli.rs"
doc = false
required-features = ["cli", "fluvio-future/subscriber"]

[features]
cli = ["clap"]
fixture = []

[dependencies]
tracing = "0.1.19"
libc = "0.2.116"
bytes = "1.1.0"
futures-lite = "1.7.0"
pin-utils = "0.1.0-alpha.4"
async-channel = "1.5.1"
async-trait = "0.1.18"
clap = { version = "4.0.10", features = ["std", "derive"], default-features = false, optional = true }
serde = { version = "1.0.103", features = ['derive'] }
async-lock = "2.4.0"
derive_builder = "0.11.0"
thiserror = "1"
memmap = { version = "0.7.0" }
tokio = { version = "1.3.0", features = ["macros"] }
blocking = "1.1.0"
nix = "0.25.0"

# Fluvio dependencies
fluvio-types = { path = "../fluvio-types", features = [
    "events",
], version = "0.3.1" }
fluvio-future = { version = "0.4.0", features = ["fs", "mmap", "zero_copy"] }
fluvio-protocol = { path = "../fluvio-protocol" }
fluvio-controlplane-metadata = { path = "../fluvio-controlplane-metadata" }
fluvio-spu-schema = { path = "../fluvio-spu-schema", features = [
    "file",
] }

[dev-dependencies]
derive_builder = { version = "0.11.0" }
fluvio-future = { version = "0.4.0", features = ["fixture"] }
flv-util = { version = "0.5.2", features = ["fixture"] }
fluvio-socket = { path = "../fluvio-socket", features = ["file"] }
fluvio-storage = { path = ".", features = ["fixture"] }
fluvio-protocol = { path = "../fluvio-protocol", features = ["fixture"] }

