[package]
edition = "2021"
name = "fluvio-storage"
version = "0.0.0"
authors = ["fluvio.io"]
description = "Storage for Fluvio platform"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
publish = false

[[bin]]
name = "storage-cli"
path = "src/bin/cli.rs"
doc = false
required-features = ["cli", "fluvio-future/subscriber"]

[features]
cli = ["clap"]
fixture = []


[[test]]
name = "replication-test"
path = "tests/replica_test.rs"
required-features = ["fixture"]

[dependencies]
anyhow = { workspace = true }
async-lock = { workspace = true }
blocking = "1.4.0"
derive_builder = { workspace = true }
bytes = { workspace = true }
nix = { workspace = true }
thiserror = { workspace = true }
libc = "0.2.116"
futures-lite = { workspace = true }
pin-utils = "0.1.0"
async-channel = { workspace = true }
async-trait = { workspace = true }
clap = { workspace = true, features = ["std", "derive", "help", "usage", "error-context"], optional = true }
serde = { workspace = true, features = ['derive','std'] }
tracing = { workspace = true }
tokio = { workspace = true, features = ["macros"] }


# Fluvio dependencies
fluvio-types = { workspace = true, features = ["events",]}
fluvio-future = { workspace = true, features = ["fs", "mmap", "zero_copy"] }
fluvio-protocol = { workspace = true }
fluvio-controlplane-metadata = { workspace = true  }
fluvio-controlplane = { workspace = true }
fluvio-spu-schema = { workspace = true, features = [ "file"] }

[dev-dependencies]
fluvio-future = { workspace = true, features = ["fixture"] }
flv-util = { workspace = true, features = ["fixture"] }
fluvio-socket = { workspace = true,  features = ["file"] }
fluvio-protocol = { workspace = true,  features = ["fixture"] }

[package.metadata.cargo-udeps.ignore]
development = ["fluvio-socket"]
