version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    labels:
      - bot
      - github_actions
      - dependencies

    schedule:
      # Check for updates to GitHub Actions every weekday
      interval: "daily"
    ignore:
      - dependency-name: "*"
        update-types: [
            "version-update:semver-minor",
            "version-update:semver-patch",
          ] # Only major version updates

  # Maintain dependencies for Cargo
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - bot
      - rust
      - dependencies
    ignore:
      - dependency-name: "*"
        update-types: [
            "version-update:semver-minor",
            "version-update:semver-patch",
          ] # Only major version updates
