[package]
name = "smartmodule-development-kit"
version = "0.0.0"
edition = "2021"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "SmartModule Development Kit"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
publish = false

[[bin]]
name = "smdk"
path = "src/main.rs"
doc = false

[dependencies]
tracing = { workspace = true }
anyhow = { workspace = true }
clap = { workspace = true, features = ["std", "derive", "help", "usage", "error-context", "env", "wrap_help", "suggestions"], default-features = false }
dirs = { workspace = true }
enum-display = { workspace = true }
toml = { workspace = true }
cargo-generate = { workspace = true }
include_dir = { workspace = true }
tempfile = { workspace = true }
lib-cargo-crate = "0.2.1"


fluvio = { path = "../fluvio", default-features = false }
fluvio-hub-util = { path = "../fluvio-hub-util" }
fluvio-future = { workspace = true, features = ["subscriber"]}
fluvio-smartengine = { path = "../fluvio-smartengine", features = ["transformation"] }
fluvio-extension-common = { path = "../fluvio-extension-common", features = ["target"] }
fluvio-controlplane-metadata = { path = "../fluvio-controlplane-metadata", features = ["smartmodule"] }
fluvio-cli-common = { path = "../fluvio-cli-common", features = ["file-records", "version-cmd", "serde", "smartmodule-test"] }
cargo-builder = { path = "../cargo-builder"}
