[workspace]
members = [
    "examples/00-produce",
    "examples/01-produce-key-value",
    "examples/01-produce-batch",
    "examples/02-consume",
    "examples/03-echo",
    "examples/04-admin-watch",
    "crates/fluvio",
    "crates/fluvio-auth",
    "crates/fluvio-benchmark",
    "crates/fluvio-channel",
    "crates/fluvio-channel-cli",
    "crates/fluvio-cli",
    "crates/fluvio-cli-common",
    "crates/fluvio-cluster",
    "crates/fluvio-compression",
    "crates/fluvio-controlplane",
    "crates/fluvio-controlplane-metadata",
    "crates/fluvio-hub-util",
    "crates/fluvio-hub-protocol",
    "crates/fluvio-extension-common",
    "crates/fluvio-package-index",
    "crates/fluvio-protocol",
    "crates/fluvio-protocol-derive",
    "crates/fluvio-run",
    "crates/fluvio-sc",
    "crates/fluvio-sc-schema",
    "crates/fluvio-service",
    "crates/fluvio-smartmodule",
    "crates/fluvio-smartmodule-derive",
    "crates/fluvio-smartengine",
    "crates/fluvio-socket",
    "crates/fluvio-spu",
    "crates/fluvio-spu-schema",
    "crates/fluvio-storage",
    "crates/fluvio-stream-dispatcher",
    "crates/fluvio-stream-model",
    "crates/fluvio-test",
    "crates/fluvio-test-derive",
    "crates/fluvio-test-case-derive",
    "crates/fluvio-test-util",
    "crates/fluvio-types",
    "crates/fluvio-connector-package",
    "crates/fluvio-connector-deployer",
    "crates/fluvio-connector-common",
    "crates/fluvio-connector-derive",
    "release-tools/check-crate-version",
    "crates/smartmodule-development-kit",
    "crates/cdk",
    "crates/cargo-builder",
    "connector/json-test-connector",
    "connector/sink-test-connector"
]

exclude = ["smartmodule/regex-filter"]
resolver = "2"

[workspace.dependencies]
anyhow = "1.0.38" 
async-channel = "1.6.1"
async-trait = "0.1.21"
base64 = "0.21.0"
bytes = "1"
bytesize = "1.1.0"
cargo_toml = "0.15"
chrono = "0.4"
clap = "4.0.10"
color-eyre = "0.6.0"
colored = "2.0.0"
comfy-table = "6.0.0"
convert_case = "0.6.0"
derive_builder = "0.12.0"
directories = "5.0.0"
dirs = "5.0.0"
duct = "0.13"
flate2 = "1"
futures-util = "0.3"
futures-channel = "0.3"
include_dir = "0.7.2"
indicatif = "0.17.0"
nix = "0.26.0"
once_cell = "1.5"
portpicker = "0.1.1"
rand = "0.8.4"
regex = "1.7"
serde = "1.0.115"
serde_json = "1.0.57"
serde_yaml = "0.9.0"
sysinfo = "0.28.0"
semver = "1.0.3"
tar = "0.4"
tempfile = "3.4.0"
thiserror = "1.0.20"
tokio = "1.3.0"
toml = "0.7.3"
tracing = "0.1.19"
url = "2.1.1"
wasmparser = "0.103.0"
which = "4.1.0"
cargo-generate = "0.18.2"

# fluvio dep
k8-client = { version = "10.0.0" }
k8-types = { version = "0.8.0" }
k8-config = { version = "2.0.0"}
k8-metadata-client = { version = "5.1.0" }
fluvio-future = { version = "0.4.0" }
flv-util = { version = "0.5.0" }
fluvio-helm = { version = "0.4.1"}
fluvio-command = { version = "0.2.0"}

# Used to make eyre faster on debug builds
# See https://github.com/yaahc/color-eyre#improving-perf-on-debug-builds
[profile.dev.package.backtrace]
opt-level = 3

# Always optimize sha256, prevents slow `fluvio version`
[profile.dev.package.sha2]
opt-level = 3

# Used to preserve some linker hacks used by `inventory` crate
[profile.dev.package.fluvio-test]
incremental = false

# Make fluvio-test release package more like dev profile. Specifically for `inventory` crate
[profile.release.package.fluvio-test]
opt-level = 0
debug = true
debug-assertions = true
overflow-checks = true
incremental = false
codegen-units = 256

[profile.release-lto]
inherits = "release"
lto = true
