[workspace]
members = [
    "src/fluvio-experimental",
    "src/cli",
    "src/client",
    "src/cluster",
    "src/controlplane",
    "src/controlplane-metadata",
    "src/kf-service",
    "src/kf-socket",
    "src/sc",
    "src/sc-schema",
    "src/spu",
    "src/spu-schema",
    "src/storage",
    "src/stream-dispatcher",
    "src/stream-model",
    "src/types",
    "src/utils",
    "tests/runner",
]

[patch.crates-io]
kf-protocol =  { git = 'https://github.com/infinyon/flv-kf-protocol.git', branch = 'change_to_stable', version = "4.0.0" }


# profile to make image sizer smaller
# comment out for now
[profile.release]
lto = true
codegen-units = 1
incremental = false
