[workspace]
members = [
    "src/fluvio-experimental",
    "src/cli",
    "src/client",
    "src/cluster",
    "src/controlplane",
    "src/controlplane-metadata",
    "src/dataplane-protocol",
    "src/kf-service",
    "src/kf-socket",
    "src/sc",
    "src/sc-schema",
    "src/spu",
    "src/spu-schema",
    "src/storage",
    "src/stream-dispatcher",
    "src/stream-model",
    "src/types",
    "src/utils",
    "tests/runner",
]


# profile to make image sizer smaller
# comment out for now
[profile.release]
lto = true
codegen-units = 1
incremental = false
