[workspace]
members = [
    "src/cli",
    "src/client-rs",
    "src/cluster",
    "src/internal-api",
    "src/kf-socket",
    "src/kf-service",
    "src/metadata-cluster",
    "src/event-stream-model",
    "src/event-stream-k8",
    "src/sc-api",
    "src/sc-core",
    "src/sc-k8",
    "src/spu-api",
    "src/spu-server",
    "src/storage",
    "src/types",
    "src/utils",
    "tests/runner",
]

[patch.crates-io]
# k8-client = { path = "../k8-api/src/k8-client" }
# k8-metadata-client = { path = "../k8-api/src/k8-metadata-client"}
# k8-obj-core = { path = "../k8-api/src/k8-obj-core"}
# k8-obj-app = { path = "../k8-api/src/k8-obj-app"}
# k8-obj-metadata = { path = "../k8-api/src/k8-obj-metadata"}
# k8-config = { path = "../k8-api/src/k8-config"}
# k8-diff = { path = "../k8-api/src/k8-diff"}
# flv-future-aio = { path = "../flv-future/src/future-aio"}
kf-protocol =  { git = 'https://github.com/infinyon/flv-kf-protocol.git', branch = 'change_to_stable', version = "3.0.0" }


# profile to make image sizer smaller
# comment out for now
[profile.release]
lto = true
codegen-units = 1
incremental = false