[workspace]
members = [
    "examples/00-produce",
    "examples/01-produce-key-value",
    "examples/01-produce-batch",
    "examples/02-consume",
    "examples/03-echo",
    "examples/04-admin-watch",
    "src/auth",
    "src/cli",
    "src/client",
    "src/cluster",
    "src/controlplane",
    "src/controlplane-metadata",
    "src/dataplane-protocol",
    "src/package-index",
    "src/protocol",
    "src/sc",
    "src/sc-schema",
    "src/service",
    "src/socket",
    "src/spu",
    "src/spu-schema",
    "src/storage",
    "src/stream-dispatcher",
    "src/stream-model",
    "src/types",
    "src/utils",
    "src/extension-common",
    "src/runner",
    "src/smartstream",
    "src/smartstream/derive",
    "tests/runner",
]
resolver = "2"

[patch.crates-io]
fluvio-future = { path = '../future-aio' }

# Used to make eyre faster on debug builds
# See https://github.com/yaahc/color-eyre#improving-perf-on-debug-builds
[profile.dev.package.backtrace]
opt-level = 3

# Always optimize sha256, prevents slow `fluvio version`
[profile.dev.package.sha2]
opt-level = 3

# Used to preserve some linker hacks used by `inventory` crate
[profile.dev.package.flv-test]
incremental = false

# Make flv-test release package more like dev profile. Specifically for `inventory` crate
[profile.release.package.flv-test]
opt-level = 0
debug = true
debug-assertions = true
overflow-checks = true
incremental = false
codegen-units = 256
