apiVersion: 0.1.0
meta:
  version: 0.1.0
  name: my-test-mqtt
  type: mqtt
  topic: my-mqtt
  create_topic: false
  producer:
    linger: 1ms
    batch-size: "44.0 MB"
    compression: gzip
  consumer:
    partition: 10
    max-bytes: "1 MB"
  secrets:
    - name: secret1
transforms:
  - uses: infinyon/json-sql
    with:
      mapping:
        table: "topic_message"
      param: param_value
