[package]
name = "fluvio-package-index"
version = "0.7.3"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio Package Index"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
edition = "2021"
build = "build.rs"

[lib]
name = "fluvio_index"
path = "src/lib.rs"

[features]
http_agent = ["http"]

[dependencies]
tracing = "0.1.21"
thiserror = "1.0.21"
serde = { version = "1.0.117", features = ["derive"] }
serde_json = "1.0.59"
semver = { version = "1.0.0", features = ["serde"] }
url = { version = "2.1.1", features = ["serde"] }
lazy_static = "1.4.0"
http = { version = "0.2", default-features = false, optional = true}
