[package]
name = "fluvio-package-index"
version = "0.7.5"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio Package Index"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
edition = "2021"
build = "build.rs"

[lib]
name = "fluvio_index"
path = "src/lib.rs"

[features]
http_agent = ["http"]

[dependencies]
lazy_static = "1.4.0"
http = { optional = true, workspace = true }
serde = { workspace = true,  features = ["derive"] }
serde_json = { workspace = true }
semver = { workspace = true,  features = ["serde"] }
thiserror = { workspace = true }
tracing = { workspace = true }
url = { workspace = true, features = ["serde"] }