[package]
name = "fluvio-sc"
edition = "2021"
version = "0.0.0"
authors = ["fluvio.io"]
description = "Fluvio Stream Controller"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
publish = false
build = "build.rs"

[lib]
name = "fluvio_sc"
path = "src/lib.rs"

[[bin]]
name = "fluvio-sc-k8"
path = "src/bin/k8.rs"
required-features = ["k8"]

[features]
default = ["k8"]
k8 = ["k8-client"]

[dependencies]
rand = "0.8.3"
tracing = "0.1.19"
tracing-futures = "0.2.4"
serde = { version = "1.0.103", features = ['derive'] }
serde_json = "1.0.59"
futures-util = { version = "0.3.5" }
chashmap = "2.2.0"
base64 = "0.13.0"
regex = "1.3.1"
async-trait = "0.1.21"
async-lock = "2.3.0"
async-channel = "1.4.0"
event-listener = "2.2.0"
tokio = { version = "1.3.0", features = ["macros"] }
structopt = "0.3.22"
semver = "1.0.0"
once_cell = "1.5"
cfg-if = { version = "1.0.0" }
sysinfo = "0.21.1"
surf = "2.3.2"
serde_yaml = "0.8"

# Fluvio dependencies
fluvio-auth = { path = "../fluvio-auth" }
fluvio-future = { version = "0.3.0", features = [
    "subscriber",
    "openssl_tls",
    "zero_copy",
] }
fluvio-types = { path = "../fluvio-types", features = [
    "events",
] }
fluvio-sc-schema = { path = "../fluvio-sc-schema" }
fluvio-stream-model = { path = "../fluvio-stream-model" }
fluvio-controlplane = { path = "../fluvio-controlplane" }
fluvio-controlplane-metadata = { features = [
    "k8",
    "serde",
], path = "../fluvio-controlplane-metadata" }
fluvio-stream-dispatcher = { path = "../fluvio-stream-dispatcher" }
k8-client = { version = "5.5.0", optional = true }
k8-metadata-client = { version = "3.2.0" }
fluvio-protocol = { path = "../fluvio-protocol" }
k8-types = { version = "0.5.2", features = ["app"] }
fluvio-socket = { path = "../fluvio-socket" }
dataplane = { path = "../fluvio-dataplane-protocol", package = "fluvio-dataplane-protocol" }
fluvio-service = { path = "../fluvio-service" }
flv-tls-proxy = { version = "0.5.0" }

[dev-dependencies]
rand = "0.8.4"
fluvio-future = { version = "0.3.0", features = ["fixture"] }
flv-util = { version = "0.5.0", features = ["fixture"] }
