[package]
name = "fluvio-sc"
edition = "2021"
version = "0.0.0"
authors = ["fluvio.io"]
description = "Fluvio Stream Controller"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
publish = false
build = "build.rs"

[lib]
name = "fluvio_sc"
path = "src/lib.rs"

[[bin]]
name = "fluvio-sc"
path = "src/bin/main.rs"
required-features = []

[features]
default = []

[dependencies]
adaptive_backoff = { workspace = true }
anyhow = { workspace = true }
async-trait = { workspace = true }
async-lock = { workspace = true }
clap = { workspace = true,features = ["std", "derive", "env"]}
futures-util = { workspace = true }
mimalloc = { workspace = true }
once_cell = { workspace = true }
rand = { workspace = true }
semver = { workspace = true }
serde = { workspace = true, features = ['derive'] }
serde_json = { workspace = true }
sysinfo = { workspace = true }
tokio = { workspace = true, features = ["macros"] }
tracing = { workspace = true }


# Fluvio dependencies
fluvio = { workspace = true }
fluvio-auth = { workspace = true }
fluvio-future = { workspace = true, features = [
    "subscriber",
    "openssl_tls",
    "zero_copy",
] }
fluvio-types = { workspace = true,  features = [
    "events",
] }
fluvio-sc-schema = { workspace = true, features = ["use_serde", "json"] }
fluvio-stream-model = { workspace = true, features = ["k8", "use_serde"]  }
fluvio-controlplane = { workspace = true }
fluvio-controlplane-metadata = { workspace = true, features = ["k8","serde"] }
fluvio-stream-dispatcher = { workspace = true, features = ["k8", "local"]}
k8-client = { workspace = true, features = ["memory_client"] }
fluvio-protocol = { workspace = true }
fluvio-socket = { workspace = true }
fluvio-service = { workspace = true  }
flv-tls-proxy = { workspace = true }

[dev-dependencies]
rand = { workspace = true }
fluvio-future = { workspace = true, features = ["fixture"] }
fluvio-stream-model = { workspace = true, features = ["fixture"] }
