{{- $words := .words -}}
{{- $class := "" -}}
{{- $indent := .indent }}

{{- range $idx, $word := $words -}}
    {{- if eq $idx 0 -}}
        {{- /* command: fluvio */ -}}
        {{- $class = "pnk" -}}
    {{- else if eq $idx 1 -}}
        {{- /* module: topic */ -}}
        {{- if hasPrefix $word "<" -}}
            {{- $class = "drk" -}}   
        {{- else -}}
            {{- $class = "blu" -}}
        {{- end -}}            
    {{- else if eq $idx 2 -}}
        {{- /* operation: create */ -}}
        {{- if hasPrefix $word "<" -}}
            {{- $class = "drk" -}}   
        {{- else if hasPrefix $word "[" -}}
            {{- $class = "gry" -}}
        {{- else if hasPrefix $word "-" -}}
            {{- $class = "grn" -}}
        {{- else -}}
            {{- $class = "red" -}}
        {{- end -}}            
    {{- else if hasPrefix $word "[" -}}
        {{- $class = "gry" -}}
    {{- else if hasPrefix $word "-" -}}
        {{- if eq $indent "true" -}}
            <br/><span class="pl-4"></span>
        {{- end -}}
        {{- $class = "grn" -}}
    {{- else if hasPrefix $word "<" -}}
        {{- $class = "gry" -}}                
    {{- else -}}
        {{- $class = "" -}}
    {{- end -}}
    <span class="{{$class}}">{{$word}} </span>
{{- end -}}