[package]
name = "fluvio-smartengine"
version = "0.3.2"
edition = "2021"
license = "Apache-2.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
keywords = ["streaming", "stream", "queue"]
categories = ["encoding", "api-bindings"]
repository = "https://github.com/infinyon/fluvio"
description = "The official Fluvio SmartEngine"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
wasi = ["wasmtime-wasi"]
unstable = []

[dependencies]
wasmtime = "0.39.0"
wasmtime-wasi = { version = "0.39.0", optional = true }
nix = "0.25"
tracing = "0.1.27"
anyhow = "1.0.38"

fluvio-future = { version = "0.4.0" }
dataplane = { version = "0.11.0", path = "../fluvio-dataplane-protocol", package = "fluvio-dataplane-protocol", features = [
    "file",
] }

fluvio-spu-schema = { version = "0.10.0", path = "../fluvio-spu-schema" }
thiserror = "1.0.31"

[dev-dependencies]
fluvio-types = { path = "../fluvio-types" }
cargo = "0.64"
cfg-if = "1.0.0"
