[package]
name = "fluvio-smartengine"
version = "0.8.4"
edition = "2021"
license = "Apache-2.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
keywords = ["streaming", "stream", "queue"]
categories = ["encoding", "api-bindings"]
repository = "https://github.com/infinyon/fluvio"
description = "The official Fluvio SmartEngine"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
engine = ["wasmtime", "wasi-common"]
transformation = ["serde_json", "serde_yaml", "humantime-serde"]
default = ["engine"]


[dependencies]
tracing ={ workspace = true }
thiserror = { workspace = true }
anyhow = { workspace = true }
serde = { workspace = true,  features = ['derive'] }
serde_json = { workspace = true, optional = true }
serde_yaml = { workspace = true, default-features = false, optional = true }
cfg-if = { workspace = true }
derive_builder = { workspace = true }
wasi-common = { workspace = true,  optional = true }
wasmtime = { workspace = true,  optional = true }
humantime-serde = { workspace = true, optional = true }

fluvio-future = { workspace = true, default-features = false }
fluvio-protocol = { workspace = true, features = [
    "record",
] }
fluvio-smartmodule = { workspace = true, default-features = false }

[dev-dependencies]
fluvio-future = { workspace = true, default-features = false, features = ["task"] }
