[package]
name = "fluvio-smartengine"
version = "0.5.5"
edition = "2021"
license = "Apache-2.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
keywords = ["streaming", "stream", "queue"]
categories = ["encoding", "api-bindings"]
repository = "https://github.com/infinyon/fluvio"
description = "The official Fluvio SmartEngine"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
engine = ["wasmtime"]
wasi = ["wasmtime-wasi", "engine"]
transformation = ["serde_json", "serde_yaml"]
default = ["engine"]


[dependencies]
tracing = "0.1.27"
thiserror = "1"
anyhow = { version = "1.0.38" }
wasmtime = { version = "5.0.0", optional = true }
wasmtime-wasi = { version = "6.0.0", optional = true }
serde = { version = "1", features = ['derive'] }
serde_json = { version = "1.0", optional = true }
serde_yaml = { version = "0.9", default-features = false, optional = true }

cfg-if = "1.0.0"
derive_builder = { workspace = true }

fluvio-future = { version = "0.4.0", default-features = false }
fluvio-protocol = { path = "../fluvio-protocol", version = "0.8.0", features = [
    "record",
] }
fluvio-smartmodule = { path = "../fluvio-smartmodule", version = "0.3.0", default-features = false }

[dev-dependencies]
fluvio-types = { path = "../fluvio-types" }
