apiVersion: v1
kind: ConfigMap
metadata:
  name: spu-k8
data:
  image: {{ .Values.image.registry }}/fluvio:{{ .Values.image.tag | default .Chart.Version }}
  resources: {{ .Values.spuPod.resources | toJson | quote }}
  podSecurityContext: {{ .Values.podSecurityContext | toJson | quote }}
  nodeSelector: {{ .Values.spuPod.nodeSelector | toJson | quote }}
  lbServiceAnnotations: {{ .Values.loadBalancer.serviceAnnotations | toJson | quote }}
  service: {{ .Values.service | toJson | quote }}
  storageClass: {{ .Values.spuPod.storageClass }}