{{- $producer := .Site.GetPage "/main/producer.md" -}}
<div class="tabs">
  <div class="tab">
    <input type="radio" id="tab-1" name="tab-group-1" checked>
    <label for="tab-1">Producer</label>
    <div class="content">
<pre data-src="prism.js" class="language-javascript bk-white font-09">
<code class="language-javascript">
flvClient.connect("server:port").then((sc) => {

    sc.leader("my-topic", 0).then((leader) => {
        leader.produce("hello world").then(len => {
            console.log("message sent!");
        });
    })

});
</code></pre>
    </div>
  </div>
  <div class="tab">
    <input type="radio" id="tab-2" name="tab-group-1">
    <label for="tab-2">Consumer</label>
    <div class="content">
<pre data-src="prism.js" class="language-javascript bk-white font-09"><code class="language-javascript">
emitter.on('data', (msg) => {
    console.log(msg);
});

flvClient.connect("server:port").then((sc) => {
    sc.leader("my-topic", 0).then((leader) => {
        leader.consume(emitter.emit.bind(emitter));
    })
});
</code></pre>
    </div>
  </div>
</div>