<div class="title">Dev platform for real-time <br />distributed apps
    <a href="/docs/node-api/reference" style="text-decoration: none;" class="pl-3">
        <img src="/images/njs.png" width="45" alt="Node" />
    </a>
    <a href="/docs/rust-api/reference" style="text-decoration: none;">
        <img src="/images/rustacean-flat-noshadow.svg" width="75" alt="Rust" />
    </a>  
</div>
<div class="wrapper">
<div class="subtitle">
    Build powerful distributed apps with our  <i class="fa fa-bolt bolt-icon"></i> fast streaming platform.
    Produce and consume data to and from <u>cloud</u>, <u>edge</u>, and <u>IOT</u> devices in real-time.
</div>
<div class="subtitle pt-3">
    No infrastructure to manage, just create an account on 
    {{ "[Fluvio Cloud](docs/getting-started/quick-start/)" | markdownify}}, 
    and start streaming. Checkout our blog 
     {{ "[From zero to streaming in 5 minutes](/docs/getting-started/overview/)" | markdownify}}.
</div>
</div>

{{/* The quickest way to<br/> real-time apps */}}

{{/* The platform for <br />real-time distributed apps */}}
