{{- template "recent-posts" (dict "page" .page) -}}

{{- define "recent-posts" -}}
  {{- $page := .page -}}

  <ul>
	{{- range (where site.Pages "Type" "blog" ) -}}
		{{- if eq .File.Dir "blog/_posts/" -}}

      {{- $hidden := .Params.hidden | default false -}}
      {{- $selected := "" -}}
      {{- if eq . $page -}} 
        {{- $selected = " selected" -}}
      {{- end -}}

      {{ if ne $hidden true }}
        <li class="item{{ $selected }}"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
  		{{- end -}}

		{{- end -}}
	{{- end -}}
  </ul>

{{- end -}}
