/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Titillium Web";
  src: url("../fonts//TitilliumWeb-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts//TitilliumWeb-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts//TitilliumWeb-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts//TitilliumWeb-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts//TitilliumWeb-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts//TitilliumWeb-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts//TitilliumWeb-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Titillium SemiBold";
  src: url("../fonts//TitilliumWeb-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts//TitilliumWeb-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts//TitilliumWeb-SemiBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts//TitilliumWeb-SemiBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts//TitilliumWeb-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts//TitilliumWeb-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts//TitilliumWeb-SemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../fonts//MontserratAlternates-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts//MontserratAlternates-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts//MontserratAlternates-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts//MontserratAlternates-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts//MontserratAlternates-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts//MontserratAlternates-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts//MontserratAlternates-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts//WorkSans-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts//WorkSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts//WorkSans-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts//WorkSans-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts//WorkSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts//WorkSans-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts//WorkSans-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira Mono";
  src: url("../fonts//FiraMono-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts//FiraMono-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts//FiraMono-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts//FiraMono-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts//FiraMono-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts//FiraMono-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts//FiraMono-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}