[package]
name = "fluvio-sc-schema"
version = "0.18.1"
edition = "2021"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio API for SC"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"

[lib]
name = "fluvio_sc_schema"
path = "src/lib.rs"

[features]
use_serde = ["fluvio-controlplane-metadata/use_serde", "serde"]

[dependencies]
tracing = { workspace = true }
serde = { workspace = true, features = ['derive'], optional = true }
static_assertions = { workspace = true }
anyhow = { workspace = true }
paste = "1.0"
anyhow = { workspace = true }

# Workspace Dependencies
thiserror = { workspace = true }

# Fluvio dependencies
fluvio-types = { workspace = true }
fluvio-controlplane-metadata = {  workspace = true, features = ["smartmodule"] }
fluvio-protocol = { workspace = true,  features = ["link"]}
fluvio-socket = { workspace = true }

[dev-dependencies]
fluvio-future = { workspace = true, features = ["subscriber"] }
