[package]
name = "regex-filter"
version = "0.0.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
edition = "2024"
publish = false

[lib]
crate-type = ['cdylib']

[dependencies]
regex = "1.5"
fluvio-smartmodule = { path = "../../crates/fluvio-smartmodule" }


[profile.release-lto]
inherits = "release"
lto = true