{{- $lines := split .Inner "\n" -}}
{{- $numLines := len $lines -}}
{{- $command := "" -}}
{{- $output := "" -}}
{{- $lang := .Get 0 | default "yaml" -}}

{{- range $idx, $line := $lines -}}
    {{- if eq $idx 0 -}}
        {{- /* skip - beginning of shortcode */ -}}
    {{- else if eq $idx (sub $numLines 1) -}}
        {{- /* skip - end of shortcode */ -}}
    {{- else if eq $idx 1 -}}
        {{- $command = print $line -}}
    {{- else -}}
        {{- $output = (print $output $line "\n" ) -}}
    {{- end -}}
{{- end -}}

<div class="callout code mb-3">
    <div class="content">
        {{- $text := partial "others/command.html"  (dict "line" $command) -}}
        {{- $text | markdownify -}}
        <pre><code class="language-{{ $lang }}">
            {{- $output -}}
        </code></pre>
    </div>
</div>
