{{/* String the first and last lines, if empty */}}
{{- $lang := .Get "lang" | default "yaml" -}}
{{- $style := .Get "style" | default "dark" -}}
{{- $input := .Inner -}}
{{- $lines := split $input "\n" -}}
{{- $line_count := len $lines -}}
{{- $collector := "" -}}
{{- range $index, $line := $lines -}}
    {{- if eq $index 0 -}}
        {{- if gt (len $line) 0 -}}
            {{- $collector = (print $collector $line "\n") -}}
        {{- end -}}
    {{- else if eq $index (sub $line_count 1) -}}
        {{- if gt (len $line) 0 -}}
            {{- $collector = (print $collector $line "\n") -}}
        {{- end -}}
    {{- else -}}
        {{- $collector = (print $collector $line "\n") -}}
    {{- end -}}
{{- end -}}

<div class="code-wrapper" id="{{ $style }}">
    <pre><code class="language-{{ $lang }}">
        {{- $collector -}}
    </code></pre>     
</div>