[package]
name = "flv-cli"
version = "0.1.0"
edition = "2018"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio CLI"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"

[[bin]]
name = "fluvio"
path = "src/bin/main.rs"
doc = false

[features]
default = ["cluster_components"]
cluster_components = ["flv-spu", "flv-sc-k8"]

[build-dependencies]
rustc_version = "0.2.3"

[dependencies]
tracing = "0.1.19"
url = "2.1.1"
semver = "0.10.0"
bytes = "0.5.3"
structopt = { version = "0.3.15", default-features = false }
toml = "0.5.5"
prettytable-rs = "0.8.0"
rand = "0.7.2"
serde = { version ="1.0.103", features = ['derive'] }
serde_json = "1.0.39"
serde_yaml =  "0.8.8"
async-trait = "0.1.21"
ctrlc = "3.1.3"
futures = { version = "0.3.4", features = ['async-await'] }
flv-future-aio = { version = "2.2.1" }
flv-util = { version = "0.2.0"}
flv-client = { path = "../client-rs"}
flv-metadata-cluster = { path = "../metadata-cluster", features = ["use_serde"]}
flv-api-sc = { version = "2.0.0", path = "../sc-api", features = ["use_serde"]}
k8-client = { version = "1.1.0"}
k8-config = { version = "1.1.0", features = ["context"]}
k8-obj-core = { version = "1.1.0"}
k8-obj-metadata = { version = "1.0.0"}
k8-metadata-client = { version = "1.0.0"}
utils = { path= "../utils"}
flv-types = { path ="../types", version = "0.2.0" }
flv-spu = { path = "../spu-server", optional = true }
flv-sc-k8 = { path = "../sc-k8", optional = true }
rpassword = "5.0.0"
async-std = "1.6.3"
surf = "2.0.0-alpha.4"
dirs = "1.0.2"

[dev-dependencies]
flv-future-aio = { version = "2.3.1", features = ["fixture"] }
