[package]
name = "fluvio-test-util"
version = "0.0.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
edition = "2021"
description = "Fluvio Test utility"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
publish = false


[dependencies]
bytes = { workspace = true }
tracing = { workspace = true }
futures-lite = { workspace = true }
clap = { workspace = true , features = ["std", "derive", "help", "usage", "error-context"] }
async-trait = { workspace = true }
tokio = { workspace = true, features = ["macros"] }
syn = { workspace = true }
serde = { workspace = true}
serde_json = { workspace = true}
humantime = "2.1"
quote = "1.0"
proc-macro2 = "1.0"
inventory = "0.3"
comfy-table = "7.0.1"
once_cell = { workspace = true }
dyn-clone = "1.0"
semver = { workspace = true }
hdrhistogram = "7.3.0"
uuid = { version = "1.1", features = ["serde", "v4"] }
anyhow = { workspace = true }

fluvio = { workspace = true  }
fluvio-types = { workspace = true }
fluvio-future = { workspace = true, features = ["task", "timer", "subscriber", "fixture"] }
fluvio-cluster = { path = "../fluvio-cluster" }
fluvio-command = { workspace = true  }
fluvio-controlplane-metadata = { workspace = true, features = ["k8"] }

[lib]
path = "lib.rs"
