[package]
name = "fluvio-test-util"
version = "0.0.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
edition = "2021"
description = "Fluvio Test utility"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
publish = false


[dependencies]
bytes = "1.0"
tracing = "0.1"
futures-lite = "1.11.0"
clap = { version = "4.0.2", features = ["std", "derive"], default-features = false }
async-trait = "0.1.21"
tokio = { version = "1.4", features = ["macros"] }
syn = "1.0"
serde = "1.0"
serde_json = "1.0"
humantime = "2.1"
quote = "1.0"
proc-macro2 = "1.0"
inventory = "0.3"
comfy-table = "6.0.0"
once_cell = "1.7.2"
dyn-clone = "1.0"
semver = "1.0.0"
hdrhistogram = "7.3.0"
uuid = { version = "1.1", features = ["serde", "v4"] }

fluvio = { path = "../fluvio" }
fluvio-future = { version = "0.4.0", features = ["task", "timer", "subscriber", "fixture"] }
fluvio-cluster = { path = "../fluvio-cluster" }
fluvio-command = { version = "0.2.0" }
fluvio-controlplane-metadata = { features = ["k8"], path = "../fluvio-controlplane-metadata" }

[lib]
path = "lib.rs"
