[package]
name = "kf-socket"
version = "3.0.0"
edition = "2018"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Provide TCP socket wrapper using kafka protocol"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
categories = ["encoding"]

[lib]
name = "kf_socket"
path = "src/lib.rs"

[dependencies]
log = "0.4.0"
tracing = "0.1.19"
bytes = "0.5.4"
futures-util = { version = "0.3.5", features = ["sink"] }
pin-utils = "0.1.0"
chashmap = "2.2.0"
async-mutex = "1.3.0"
event-listener = "2.0.0"
async-channel = "1.4.0"
async-net = "1.4.3"
tokio = { version = "0.2.21", features = ["macros"] }
tokio-util = { version = "0.3.1", features = ["codec", "compat"] }
async-trait = "0.1.21"

# Fluvio dependencies
fluvio-future = { version = "0.1.0", features = ["tls", "net", "zero_copy"] }
fluvio-protocol = { version = "0.2.0", features = ["derive", "api", "codec", "store"] }


[dev-dependencies]
fluvio-future = { version = "0.1.0", features = ["fixture"] }
flv-util = { version = "0.5.0", features = ["fixture"] }
