[package]
name = "fluvio-smartmodule"
version = "0.7.0"
edition = "2021"
license = "Apache-2.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
categories = ["wasm", "database", "encoding"]
keywords = ["streaming", "stream", "wasm", "fluvio"]
repository = "https://github.com/infinyon/fluvio"
description = "Used by Fluvio SmartModule"


[lib]
bench = false
crate-type = ['lib']

[[bench]]
name = "bench"
harness = false

[features]
default = ["smartmodule"]
smartmodule = []

[dependencies]
tracing = { workspace = true }
thiserror = { workspace = true }
eyre = { version = ">=0.6.8", default-features = false, features = [
    "auto-install",
] }
fluvio-smartmodule-derive = { version = "0.5.0", path = "../fluvio-smartmodule-derive" }
fluvio-protocol = { workspace = true, features = [ "link"] }

[dev-dependencies]
criterion = "0.5.1"
trybuild = { git = "https://github.com/infinyon/trybuild", branch = "check_option" }
