[package]
name = "fluvio-spu"
edition = "2018"
version = "0.1.0"
authors = ["fluvio.io"]

[lib]
name = "fluvio_spu"
path = "src/lib.rs"

[[bin]]
name = "fluvio-spu"
path = "src/main.rs"
doc = false

[dependencies]
log = "0.4.8"
tracing = "0.1.19"
tracing-futures = "0.2.4"
bytes = "0.5.3"
structopt = "0.3.5"
toml = "0.5.5"
futures = { version = "0.3.4" }
async-trait = "0.1.21"
serde_yaml = "0.8.8"
serde = { version = "1.0.103", features = ['derive'] }
chrono = { version = "0.4.6", features = ["serde"] }
chashmap = "2.2.0"
pin-utils = "0.1.0-alpha.4"
regex = "1.3.1"
tokio = { version = "0.2.21", features = ["macros","sync"] }
async-channel = "1.4.2"
async-rwlock = "1.1.0"
event-listener = "2.4.0"


# Fluvio dependencies
fluvio-types = { path = "../types", version = "0.1.0" }
fluvio-storage = { path = "../storage" }
fluvio-controlplane = { path = "../controlplane" }
fluvio-controlplane-metadata = { path = "../controlplane-metadata" }
fluvio-spu-schema = { path = "../spu-schema" }
fluvio-protocol = { version = "0.2.0" }
dataplane = { version = "0.1.0", path = "../dataplane-protocol", package = "fluvio-dataplane-protocol" }
kf-socket = { path = "../kf-socket" }
kf-service = { path = "../kf-service" }
flv-tls-proxy = "0.2.0"
flv-util = { version = "0.5.0" }
fluvio-future = { version = "0.1.0", features = ["tls","subscriber"] }
utils = { path = "../utils" }

[dev-dependencies]
fluvio-future = { version = "0.1.0", features = ["fixture","subscriber"] }
utils = { path = "../utils", features = ["fixture"] }
