[package]
name = "fluvio-compression"
version = "0.2.4"
edition = "2021"
license = "Apache-2.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
categories = ["compression"]
keywords = ["fluvio", "compression"]
repository = "https://github.com/infinyon/fluvio"
description = "Fluvio Compression library"

[features]
default = []

[dependencies]
bytes = { workspace = true }
flate2 = { workspace = true }
snap = { version = "1" }
serde = { workspace = true,  features = ['derive'] }
lz4_flex = { version = "0.10.0", default-features = false, features = ["safe-decode", "safe-encode", "frame"] }
thiserror = { workspace = true }

