[package]
name = "produce"
version = "0.0.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
edition = "2021"
publish = false

[dependencies]
anyhow = { workspace = true }
tokio = { workspace = true }

fluvio = { workspace = true  }
