{% 
    if  request_name == "KfFetchRequest<R>" or 
        request_name == "KfProduceRequest<R>"
-%}
use std::fmt::Debug;
use std::marker::PhantomData;

use kf_protocol::Decoder;
use kf_protocol::Encoder;
{% endif %}

use serde::{Serialize, Deserialize};

use kf_protocol_api::ErrorCode;
{% if contains_field(name="isolation_level", value="i8") == true -%} 
use kf_protocol_api::Isolation;
{% endif -%}
{% if contains_field(name="metadata", value="Vec<u8>") == true -%} 
use kf_protocol_api::ProtocolMetadata;
{% endif -%}
{% if contains_field(name="assignment", value="Vec<u8>") == true -%} 
use kf_protocol_api::GroupAssignment;
{% endif -%}
use kf_protocol_api::Request;

use kf_protocol_derive::KfDefault;
use kf_protocol_derive::Decode;
use kf_protocol_derive::Encode;

