[package]
name = "flv-spu"
edition = "2018"
version = "0.3.0"
authors = ["fluvio.io"]


[[bin]]
name = "spu-server"
path = "src/main.rs"
doc = false

[dependencies]
log = "0.4.8"
bytes = "0.5.3"
structopt = "0.3.5"
toml = "0.5.5"
futures = { version = "0.3.4" }
async-trait = "0.1.21"
serde_yaml =  "0.8.8"
serde = { version ="1.0.103", features = ['derive'] }
chrono = { version = "0.4.6", features = ["serde"] }
chashmap = "2.2.0"
pin-utils = "0.1.0-alpha.4"
regex = "1.3.1"
tokio = { version = "0.2.12", features = ["macros"] }
flv-future-aio = { version = "2.0.0" }
flv-util = { version = "0.1.1" }
kf-protocol = { path = "../kf-protocol"}
kf-socket = {path = "../kf-socket"}
kf-service = { path = "../kf-service"}
internal-api = { path = "../api/internal-api"}
spu-api = { path = "../api/spu-api",  package = "flv-api-spu"}
types = { path ="../types", package = "flv-types"}
utils = { path= "../utils"}
flv-metadata = { path = "../metadata" }
flv-storage = { path = "../storage"}
flv-tls-proxy = { path = "../proxy"}

[dev-dependencies]
flv-future-aio = { version = "2.0.0", features = ["fixture"] }
utils = { path = "../utils", features=["fixture"]}