[package]
name = "fluvio-types"
version = "0.2.2"
authors = ["Fluvio Contributors <team@fluvio.io>"]
edition = "2018"
description = "Fluvio common types and objects"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"

[features]
events = ["event-listener"]

[dependencies]
tracing = "0.1.19"
event-listener = { version = "2.5.1", optional = true }