.callout {
    padding: .5em;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    position: relative;
    width: 100%;

    margin: .5em 0 .5em .5em;
    max-width: calc(100% - .5em - .5em - 1em);
    
    @media (min-width: 768px) {
        margin: .5em 1.25em .2em;
        max-width: calc(100% - .5em - .5em - 1.25em - 1.25em);
    }

    ul li {
        margin-top: 5px !important;
        margin-bottom: 0 !important;
    }

    pre {
        margin: .6em 0;
    }

    .font {
        color: $col-gray-light1;
        line-height: 1.58em;
    }

    .content {
        margin-left: 1em;
        min-height: 100%;
        line-height: 1.55em;

        .firstLine {
            font-size: 1em;
        }

        p:first-of-type {
            margin-top: 0;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    &.code {
        background-color:$col-callout-bg;
        border-color:$col-callout-border;

        code[class*="language-"],
        pre[class*="language-"] {
            line-height: 1.8;
            color: $col-gray-dark1;
        }

        .content {
            font-family: $font-callout;

            span {
                font-family: $font-callout;
            }    
        }

        pre { margin-bottom: 0.1em; }
        pre .df { color: #444444; }
        pre .pt { color: #444444; }
        pre .fl { color: #cc00ff; }
        pre .tx { color: #0b5aaa; }
        pre .md { color: #0b5aaa; }
        pre .cm { color: #cc3300; }
        pre .pr { color: $col-flv-green; }
    }
    
    &.text {
        background-color: $col-callout-bg;
        border-color: $col-callout-border;

        .content {
            font-family: $font-callout;
        }
    }

    &.idea, &.caution {
        min-height: 3em;
        line-height: 0;

        .icon {
            left: -.8em;
            top: 50%;
            position: absolute;

            i {line-height: 0;}
        }

        .content {
            font-family: $font-paragraph;
        }
    }

    &.idea {
        background-color: $col-idea-bg;
        border-color: $col-idea-border;

        i {
            font-size:2.1em; 
            color: $col-idea-icon;
        }
    }

    &.caution {
        background-color: $col-caution-bg;
        border-color: $col-caution-border;

        i {
            font-size:1.5em; 
            color: $col-caution-icon;
        }
    }

    eql { color: #cc00ff; }
    eqk { color: #0077aa; }
}
