
#dark {
    code[class*="language-"],
    pre[class*="language-"] {
        color: #fefffe;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    }
    
    /* Code blocks */
    pre[class*="language-"] {
        padding: 1em;
        margin: .5em 0;
        overflow: auto;
        border-radius: 0.3em;
    }
    
    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
        background: #233559;
    }
    
    /* Inline code */
    :not(pre) > code[class*="language-"] {
        padding: .1em;
        border-radius: .3em;
    }
    
    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: #7C7C7C;
    }
    
    .token.punctuation {
        color: #c5c8c6;
    }
    
    .token.property,
    .token.keyword,
    .token.tag {
        color: #96CBFE;
    }
    
    .token.class-name {
        color: #FFFFB6;
    }
    
    .token.boolean,
    .token.constant {
        color: #99CC99;
    }
    
    .token.symbol,
    .token.deleted {
        color: #f92672;
    }
    
    .token.number {
        color: #FF73FD;
    }
    
    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
        color: #A8FF60;
    }
    
    .token.variable {
        color: #C6C5FE;
    }
    
    .token.operator {
        background: none;
        color: #EDEDED;
    }
    
    .token.entity {
        color: #FFFFB6;
        cursor: help;
    }
    
    .token.url {
        color: #96CBFE;
    }
    
    .language-css .token.string,
    .style .token.string {
        color: #87C38A;
    }
    
    .token.atrule,
    .token.attr-value {
        color: #F9EE98;
    }
    
    .token.function {
        color: #DAD085;
    }
    
    .token.regex {
        color: #E9C062;
    }
    
    .token.important {
        color: #fd971f;
    }
}