
#light {
	code[class*="language-"],
	pre[class*="language-"] {
		color: #333;
		background: none;
		text-shadow: 0 1px white;
	}
	
	pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
	code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
		text-shadow: none;
		background: #b3d4fc;
	}
	
	pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
	code[class*="language-"]::selection, code[class*="language-"] ::selection {
		text-shadow: none;
		background: #b3d4fc;
	}
	
	:not(pre) > code[class*="language-"],
	pre[class*="language-"] {
		background: #f8f8f8;
	}
	
	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		color: slategray;
	}
	
	.token.punctuation {
		color: #999;
	}
	
	.token.property,
	.token.tag,
	.token.boolean,
	.token.number,
	.token.constant,
	.token.symbol,
	.token.deleted {
		color: #07a;
	}
	
	.token.selector,
	.token.attr-name,
	.token.string,
	.token.char,
	.token.builtin,
	.token.inserted {
		color: $col-flv-green;
	}
	
	.token.operator,
	.token.entity,
	.token.url,
	.language-css .token.string,
	.style .token.string {
		color: #444;
		background:none;
	}
	
	.token.atrule,
	.token.attr-value,
	.token.keyword {
		color: #07a;
	}
	
	.token.function,
	.token.class-name {
		color: #DD4A68;
	}
	
	.token.regex,
	.token.important,
	.token.variable {
		color: #e90;
	}
}