.tabs {
    position: relative;
    min-height: 280px;
    clear: both;
  }
  .tab {
    float: left;
  }
  .tab label {
    font-family: $font-paragraph;
    font-size:1.1em;
    font-weight: 700;
    color: $col-gray-dark2;
    background: #eee;
    padding: .45em 1em .25em 1em;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
    margin-left: -1px;
    position: relative;
    left: 1px;
  }
  .tab [type="radio"] {
    display: none;
  }
  .tab .content {
    position: absolute;
    top: 2.45em;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-top-right-radius: .5em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    overflow: auto;
  }
  .tab .content > * {
    opacity: 0;
    margin-top: -1.2em;
  }
  [type="radio"]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
  }
  [type="radio"]:checked ~ label ~ .content {
    z-index: 1;
  }
  [type="radio"]:checked ~ label ~ .content > * {
    opacity: 1;
    transform: translateX(0);
  }