.code {
    font-family: $font-callout;
}

.bld {
    font-weight: 700;
}

.drk {
    color: $col-gray-dark3;
}

.red {
    color: $col-flv-red;
}

.gry {
    color: $col-gray-light1;
}

.blu {
    color: $col-blue-base;
}

.grn {
    color: $col-flv-green;
}

.pnk {
    color: $col-flv-pink;
}

.bk {
    padding:3px 5px;
    background-color: $col-gray-light8;
}