{{- $line := .line -}}
{{ $line := (replace $line "<" "&lt;") }}

{{- $text := "<pre class=\"firstLine\">" -}}
{{- if hasPrefix $line "$" -}}
    {{- $words := split $line " " -}}
    {{- $wordCount := len $words -}}
    {{- range $idx, $word := $words -}}

        {{- /* default class*/ -}}
        {{- $class := "df" -}}
        {{- if eq $idx 0 -}}
            {{- /* prompt: $ */ -}}
            {{- $class = "pt" -}}
        {{- else if eq $idx 1 -}}
            {{- /* command: fluvio */ -}}
            {{- $class = "fl" -}}
        {{- else if eq $idx 2 -}}
            {{- /* module: spu */ -}}
            {{- $class = "md" -}}
        {{- else if eq $idx 3 -}}
            {{- if hasPrefix $word "-" -}}
                {{- /* parameters: spu */ -}}
                {{- $class = "pr" -}}
            {{- else -}}
                {{- /* command: spu list*/ -}}
                {{- $class = "cm" -}}
            {{- end -}}
        {{- else if hasPrefix $word "-" }}
            {{- /* parameters: spu */ -}}
            {{- $class = "pr" -}}
        {{- else if hasPrefix $word "\"" }}
            {{- /* parameters: spu */ -}}
            {{- $class = "tx" -}}
        {{- end -}}

        {{- /*apply class*/ -}}
        {{- $text = (print $text "<span class=\"" $class "\">") -}}
        {{- $text = (print $text $word) -}}
        {{- if eq $idx (sub $wordCount 1) -}}
            {{- $text = (print $text "\n</span>") -}}
        {{- else -}}
            {{- $text = (print $text " </span>") -}}
        {{- end -}}

    {{- end -}}
{{- else -}}
    {{- /* copy the line */ -}}
    {{- $text = (print $text "<span>" $line "\n</span>") -}}
{{- end -}}

{{- $text = (print $text  "</pre>") -}}
{{- $text | safeHTML -}}

