meta:
  version: 0.1.0
  name: my-sink-test-connector
  type: test-sink
  topic: test-topic
  secrets:
    - name: TEST_API_KEY
    - name: TEST_API_CLIENT_ID
  consumer:
    id: "sink-test-connector"
    offset:
      strategy: manual
custom:
  api_key:
    secret:
      name: TEST_API_KEY
  client_id: ${{ secrets.TEST_API_CLIENT_ID }}
transforms:
  - uses: infinyon/jolt@0.1.0
    with:
      spec:
        - operation: default
          spec:
            data:
              source: "sink-test-connector"
