[package]
name = "fluvio"
version = "0.18.1"
edition = "2021"
license = "Apache-2.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
categories = ["database"]
keywords = ["streaming", "stream", "queue"]
repository = "https://github.com/infinyon/fluvio"
description = "The official Fluvio driver for Rust"

[lib]
name = "fluvio"
path = "src/lib.rs"

[features]
default = ["openssl"]
admin = ["fluvio-sc-schema/use_serde"]
smartengine = ["fluvio-smartengine"]
openssl = ["fluvio-future/openssl_tls"]
rustls = ["fluvio-future/rust_tls"]
unstable = []

[dependencies]
derive_builder =  "0.12.0"
tracing = "0.1.19"
futures-util = "0.3.6"
bytes = "1.0.1"
toml = { workspace = true }
async-rwlock = "1.1.0"
base64 = { workspace = true }
serde = { version = "1.0.110", features = ['derive'] }
serde_json = "1.0.53"
async-channel = "1.1.0"
event-listener = "2.5.1"
async-lock = "2.4.0"
tokio = { version = "1.3.0", features = ["macros", "sync"] }
thiserror = "1.0.20"
once_cell = "1.5.2"
semver = "1.0.0"
pin-project-lite = "0.2"
siphasher = "0.3.5"
cfg-if = "1.0.0"
async-trait = "0.1.51"
anyhow = "1.0.38" 

# Fluvio dependencies
fluvio-future = { version = "0.4.4", features = [
    "task",
    "task_unstable",
    "retry",
    "sync"
] }
fluvio-types = { version = "0.4.0", features = [
    "events",
], path = "../fluvio-types" }
fluvio-sc-schema = { version = "0.18.0", path = "../fluvio-sc-schema", default-features = false }
fluvio-socket = { path = "../fluvio-socket", version = "0.14.0" }
fluvio-protocol = { path = "../fluvio-protocol", version = "0.9", features = [
    "record",
    "api",
] }
fluvio-compression = { version = "0.2", path = "../fluvio-compression" }
fluvio-smartmodule = { path = "../fluvio-smartmodule", version = "0.5.0", default-features = false }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
dirs = { workspace = true}
chrono = {version =  "0.4", default-features = false, features = ["clock"]}
fluvio-smartengine = { path = "../fluvio-smartengine", version = "0.7.0",  optional = true}

[target.'cfg(unix)'.dependencies]
fluvio-spu-schema = { version = "0.13.0", path = "../fluvio-spu-schema", features = [
    "file",
] }
[target.'cfg(windows)'.dependencies]
fluvio-spu-schema = { version = "0.13.0", path = "../fluvio-spu-schema" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
fluvio-spu-schema = { version = "0.13.0", path = "../fluvio-spu-schema" }
chrono = {version =  "0.4", features = ["wasmbind", "clock"]}

[dev-dependencies]
async-std = { version = "1.6.4", default-features = false }
fluvio-future = { version = "0.4.4", features = ["io", "fixture"] }

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen-test = "0.3.24"
fluvio_ws_stream_wasm = "0.7.0"
