[package]
name = "fluvio-types"
version = "0.3.10"
authors = ["Fluvio Contributors <team@fluvio.io>"]
edition = "2021"
description = "Fluvio common types and objects"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"

[features]
events = ["event-listener"]

[dependencies]
tracing = "0.1.19"
event-listener = { version = "2.5.1", optional = true }
thiserror = "1"

[dev-dependencies]
fluvio-future = { version = "0.4.0", features = ["fixture", "subscriber"] }
tokio = { version = "1.3.0", features = ["macros"] }
