[package]
name = "fluvio-controlplane"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
description = "Fluvio control plane API"
authors = ["fluvio.io"]
repository = "https://github.com/infinyon/fluvio"
publish = false

[lib]
name = "fluvio_controlplane"
path = "src/lib.rs"

[dependencies]
tracing = "0.1.19"

# Fluvio dependencies
fluvio-types = { path = "../fluvio-types" }
fluvio-controlplane-metadata = { path = "../fluvio-controlplane-metadata" }
fluvio-protocol = { path = "../fluvio-protocol" }
dataplane = { path = "../fluvio-dataplane-protocol", package = "fluvio-dataplane-protocol" }
