[package]
edition = "2018"
name = "fluvio-service"
version = "0.0.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Provide TCP service wrapper over fluvio protocol"
repository = "https://github.com/infinyon/fluvio-socket"
license = "Apache-2.0"
categories = ["encoding"]
publish = false

[lib]
name = "fluvio_service"
path = "src/lib.rs"

[dependencies]
tracing = "0.1.18"
tracing-futures = "0.2.4"
async-trait = "0.1.21"
pin-utils = "0.1.0-alpha.4"
tokio = { version = "1.3.0", features = ["macros"] }

# Fluvio dependencies
futures-util = { version = "0.3.5" }
fluvio-future = { version = "0.3.0" }
fluvio-socket = { version = "0.10.0", path = "../fluvio-socket" }
fluvio-protocol = { path = "../fluvio-protocol", version = "0.6", features = ["derive", "api", "codec"] }
fluvio-types = { version = "0.2.3", features = ["events"], path = "../fluvio-types" }

[dev-dependencies]
fluvio-future = { version = "0.3.0", features = ["fixture"] }
