# Default values for fluvio.

loadBalancer:
  serviceAnnotations: {}
service:
  type: NodePort
scLog: info
tls: false
imagePullSecrets: []
image:
  registry: infinyon
  tag:  ""
  pullPolicy: IfNotPresent
cert:
  caCert: fluvio-ca
  tls: fluvio-tls
authorizationConfigMap: null
scPod:
  resources:
    requests:
      memory: 512Mi
    limits:
      memory: 512Mi
  nodeSelector: {}
spuPod:
  resources:
    requests:
      memory: 256Mi
    limits:
      memory: 1Gi
  nodeSelector: {}
  storageClass: null

connectorPod:
  maxInstances: 10
  resources:
    requests:
      memory: 256Mi
    limits:
      memory: 1Gi

rbac:
  create: true
serviceAccount:
  name: fluvio
podSecurityContext: {}
