# Default values for fluvio.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

cloud: minikube
aws:
  serviceAnnotations:
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
scLog: info
tls: false
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
image:
  registry: infinyon
  tag:  ""
  pullPolicy: IfNotPresent
cert:
  caCert: fluvio-ca
  tls: fluvio-tls
authorizationConfigMap: null
scResources:
  requests:
    memory: 512Mi
  limits:
    memory: 512Mi
spuResources:
  requests:
    memory: 256Mi
  limits:
    memory: 1Gi
rbac:
  create: true
serviceAccount:
  name: fluvio
podSecurityContext: {}
# fsGroup: 2000

securityContext: {}
