[package]
name = "fluvio-extension-common"
version = "0.14.2"
edition = "2021"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio extension common"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"

[lib]
name = "fluvio_extension_common"
path = "src/lib.rs"

[features]
target = ["fluvio"]
installation = ["fluvio"]

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
clap = { workspace = true, features = ["std", "derive", "help", "usage", "error-context"], default-features = false }
comfy-table = { workspace = true }
serde = { workspace = true, features = ['derive'] }
serde_json ={ workspace = true }
serde_yaml = { workspace = true }
semver = { workspace = true, features = ["serde"] }
thiserror = { workspace = true }
tracing = { workspace = true }
toml = { workspace = true, features = ["display"] }

fluvio = { workspace = true,  optional = true }
fluvio-package-index = { workspace = true  }
