[package]
name = "fluvio-extension-common"
version = "0.12.0"
edition = "2021"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio extension common"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"

[lib]
name = "fluvio_extension_common"
path = "src/lib.rs"

[features]
target = ["fluvio"]

[dependencies]
tracing = { workspace = true }
clap = { workspace = true, features = ["std", "derive", "help", "usage", "error-context"], default-features = false }
comfy-table = "6.0.0"
serde = { workspace = true, features = ['derive'] }
serde_json = "1.0.39"
serde_yaml = "0.9.19"
async-trait = "0.1.21"
futures-lite = { version = "1.7.0" }
thiserror = "1.0.20"
semver = { version = "1.0.0", features = ["serde"] }
anyhow = { workspace = true}

fluvio = { version = "0.18", path = "../fluvio", optional = true }
fluvio-package-index = { version = "0.7.0", path = "../fluvio-package-index" }
