[package]
name = "fluvio-extension-common"
version = "0.5.0"
edition = "2018"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio extension common"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"

[lib]
name = "fluvio_extension_common"
path = "src/lib.rs"

[features]
target = ["fluvio"]

[dependencies]
tracing = "0.1.19"
tracing-futures = "0.2.4"
structopt = { version = "0.3.16", default-features = false }
prettytable-rs = "0.8.0"
serde = { version = "1.0.103", features = ['derive'] }
serde_json = "1.0.39"
serde_yaml = "0.8.8"
async-trait = "0.1.21"
futures-lite = { version = "1.7.0" }
thiserror = "1.0.20"
semver = { version = "1.0.0", features = ["serde"] }

fluvio = { version = "0.10.0", path = "../fluvio",  optional = true }
fluvio-package-index = { version = "0.5", path = "../fluvio-package-index" }
