[package]
name = "fluvio-extension-common"
version = "0.9.0"
edition = "2021"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio extension common"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"

[lib]
name = "fluvio_extension_common"
path = "src/lib.rs"

[features]
target = ["fluvio"]

[dependencies]
tracing = "0.1.19"
clap = { version = "4.0.12", features = ["std", "derive"], default-features = false }
comfy-table = "6.0.0"
serde = { version = "1.0.103", features = ['derive'] }
serde_json = "1.0.39"
serde_yaml = "0.9.0"
async-trait = "0.1.21"
futures-lite = { version = "1.7.0" }
thiserror = "1.0.20"
semver = { version = "1.0.0", features = ["serde"] }

fluvio = { version = "0.14.0", path = "../fluvio", optional = true }
fluvio-package-index = { version = "0.7.0", path = "../fluvio-package-index" }
