[package]
name = "fluvio-benchmark"
version = "0.0.0"
edition = "2021"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio benchmarking tool"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
publish = false

[dependencies]
anyhow = { workspace = true }
async-channel = { workspace = true }
bincode = "1.3.3"
chrono = { workspace = true, features = ['serde']}
clap = { workspace = true, features = ["std","derive"] }
derive_builder = { workspace = true }
futures-util = { workspace = true }
hdrhistogram = { workspace = true }
madato = "0.5.3"
rand = { workspace = true }
serde = { workspace = true , features = ['derive'] }
serde_yaml = { workspace = true }
statrs = "0.16.0"
thiserror = { workspace = true }
tokio = { workspace = true, features = ["time"] }
tracing = {workspace = true }

fluvio = { workspace = true  }
fluvio-cli-common = { workspace = true }
fluvio-future = { workspace = true, features = ["subscriber"] }
