[package]
name = "fluvio-benchmark"
version = "0.0.0"
edition = "2021"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio benchmarking tool"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
publish = false

[dependencies]
async-channel = "1.4.0"
bincode = "1.3.3"
chrono = { version = "0.4.23", features = ['serde']}
clap = { workspace = true, features = ["derive"] }
derive_builder = { workspace = true}
futures-util = "0.3.6"
hdrhistogram = "7.5.2"
madato = "0.5.3"
tracing = {workspace = true}
rand = "0.8.5"
serde = { version = "1.0.103", features = ['derive'] }
serde_yaml = "0.9"
statrs = "0.16.0"
thiserror = { workspace = true }
anyhow = { workspace = true }

fluvio = { path = "../fluvio" }
fluvio-cli-common = { path = "../fluvio-cli-common"}
fluvio-future = { version = "0.4.3", features = [
    'task',
    'future',
    'sync',
    'subscriber',
] }
