# Default values for fluvio-sys

cloud:  minikube
nameOverride: ""
fullnameOverride: ""
imagePolicy:  IfNotPresent

rbac:
  create: true


podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000
