[package]
name = "fluvio"
version = "0.1.0"
edition = "2018"
license = "Apache-2.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
repository = "https://github.com/infinyon/fluvio"
description = "The offical Fluvio driver for Rust"


[dependencies]
tracing = "0.1.19"
dirs = "1.0.2"
toml = "0.5.5"
dashmap = "3.11.4"
base64 = { version = "0.12.0"}
futures = { version = "0.3.4", features = ['async-await'] }
async-trait = "0.1.30"
serde = { version ="1.0.110", features = ['derive'] }
serde_json = "1.0.53"
async-channel = "1.1.0"
event-listener = "2.2.0"
async-mutex = "1.2.0"
tokio = { version = "0.2.21", features = ["macros"] }
flv-future-aio = { version = "2.2.1", features = ["tls"] }
kf-protocol = { version = "3.0.0" } 
flv-types = { version = "0.2.0", path ="../types" }
flv-util = "0.2.0"
kf-socket = { version = "2.1.0", path = "../kf-socket" }
flv-api-sc = { version = "2.0.0", path = "../sc-api", default-features=false}
flv-api-spu = { version = "2.0.0", path = "../spu-api"}
