[package]
name = "fluvio-socket"
version = "0.8.0"
edition = "2018"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Provide TCP socket wrapper for fluvio protocol"
repository = "https://github.com/infinyon/fluvio-socket"
license = "Apache-2.0"
categories = ["encoding"]

[lib]
name = "fluvio_socket"
path = "src/lib.rs"


[dependencies]
log = "0.4.0"
tracing = "0.1.19"
cfg-if = "1.0.0"
bytes = "1.0.0"
once_cell = "1.4.1"
futures-util = { version = "0.3.5", features = ["sink", "io"] }
chashmap = "2.2.0"
async-mutex = "1.3.0"
event-listener = "2.0.0"
async-channel = "1.4.0"
async-net = "1.4.3"
tokio = { version = "1.3.0", features = ["macros"] }
tokio-util = { version = "0.6.4", features = ["codec", "compat"] }
async-trait = "0.1.21"
pin-project = "1.0.1"
thiserror = "1.0.20"
dyn-clone = { version = "1.0.4"}

# Fluvio dependencies
fluvio-future = { version = "0.3.0", features = ["net", "zero_copy"] }
fluvio-protocol = { path = "../protocol", version = "0.4.0", features = ["derive", "api", "codec", "store"] }


[dev-dependencies]
fluvio-future = { version = "0.3.0", features = ["fixture", "fs", "native2_tls"] }
flv-util = { version = "0.5.0", features = ["fixture"] }
