[env.development]
CARGO_PROFILE = "dev"
CARGO_BUILD_DIR = "debug"

[env.production]
CARGO_PROFILE = "release"
CARGO_BUILD_DIR = "release"

[tasks.set-image-tag]
env = { IMAGE_TAG = "${CARGO_MAKE_GIT_HEAD_LAST_COMMIT_HASH}" }

[env]
FLUVIO_VERSION = { script = ["cat VERSION"] }

[tasks.build-release.mac]
args = [
    "build",
    "--bin", "fluvio",
    "--release",
    "--target=x86_64-apple-darwin",
    "@@split(CARGO_MAKE_CARGO_BUILD_TEST_FLAGS, )"
]

[tasks.build-release.linux]
dependencies = ["setup-musl"]
args = [
    "build",
    "--release",
    "--bin", "fluvio",
    "--target=x86_64-unknown-linux-musl",
    "@@split(CARGO_MAKE_CARGO_BUILD_TEST_FLAGS, )"
]

[tasks.setup-musl.linux]
script = '''
which musl-gcc 2> /dev/null > /dev/null || {
    echo "Install musl-tools on your system!";
    exit 1
}
rustup target add "$CARGO_MAKE_RELEASE_FLOW_TARGET"
'''

[tasks.setup-musl.condition]
platforms = ["linux"]
profiles = [ "production" ]

[tasks.setup-musl.env]
CARGO_MAKE_RELEASE_FLOW_TARGET = "x86_64-unknown-linux-musl"
