extend = "Base.toml"


# https://docs.aws.amazon.com/cli/latest/userguide/install-cliv2-linux.html
[tasks.install-aws-cli.linux]
script = '''
which aws 2> /dev/null > /dev/null || {
    curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip";
    unzip awscliv2.zip;
    sudo ./aws/install;
}
'''

[tasks.install-aws-cli.mac]
script = '''
which aws 2> /dev/null > /dev/null || {
    echo "Install aws cli at https://docs.aws.amazon.com/cli/latest/userguide/install-cliv2-mac.html";
    exit 1
}
'''


[tasks.s3-upload-installer]
dependencies = [
    "install-aws-cli",
]
command = "aws"
args = [
    "s3",
    "cp", "./install.sh", "s3://packages.fluvio.io/v1/install.sh",
    "--acl", "public-read",
]

# Publishes Fluvio with a version from VERSION.
[tasks.publish-fluvio]
dependencies = [
    "build-prod",
    "install-fluvio-package",
    "publish-fluvio-env",
]
env = { FLUVIO_VERSION = { script = ["cat VERSION"] } }
script = """
${HOME}/.fluvio/extensions/fluvio-package \
    ${FLUVIO_PUBLISH_TEST} \
    publish \
    --version=${FLUVIO_VERSION} \
    ${FORCE_RELEASE} \
    ./target/${TARGET}/release/fluvio
"""

[tasks.publish-fluvio-runner]
dependencies = [
    "build-prod",
    "install-fluvio-package",
    "publish-fluvio-env",
]
env = { FLUVIO_VERSION = { script = ["cat VERSION"] } }
script = """
${HOME}/.fluvio/extensions/fluvio-package \
    ${FLUVIO_PUBLISH_TEST} \
    publish \
    --version=${FLUVIO_VERSION} \
    ${FORCE_RELEASE} \
    ./target/${TARGET}/release/fluvio-run
"""

[tasks.publish-fluvio-env.linux]
env = { TARGET = "x86_64-unknown-linux-musl" }
[tasks.publish-fluvio-env.mac]
env = { TARGET = "x86_64-apple-darwin" }

# Publishes Fluvio with a version from VERSION plus the current git hash.
[tasks.publish-fluvio-latest]
extend = "publish-fluvio"
env = { FLUVIO_VERSION = { script = ["""echo "$(cat VERSION)+$(git rev-parse HEAD)" """] } }

[tasks.publish-fluvio-runner-latest]
extend = "publish-fluvio-runner"
env = { FLUVIO_VERSION = { script = ["""echo "$(cat VERSION)+$(git rev-parse HEAD)" """] } }

[tasks.install-fluvio]
script = "curl -fsS https://packages.fluvio.io/v1/install.sh | bash"

[tasks.install-fluvio-package]
dependencies = ["install-fluvio"]
script = "${HOME}/.fluvio/bin/fluvio install --develop fluvio/fluvio-package"

# Bumps a version tag on packages.fluvio.io
#
# This will detect _which_ version tag to bump by looking at the format of the given
# FLUVIO_VERSION. If it is a full release (x.y.z), it will bump `stable`. If it is a
# prerelease (x.y.z-alpha.w), it will bump `prerelease`. If it has build info included
# (x.y.z+abcdef or x.y.z-alpha.w+abcdef), then it will bump `latest`.
#
# This will _also_ always bump the `latest` tag to the given version.
[tasks.bump-fluvio]
dependencies = ["install-fluvio-package"]
script = """
${HOME}/.fluvio/extensions/fluvio-package ${FLUVIO_PUBLISH_TEST} \
    bump dynamic $(cat VERSION)
${HOME}/.fluvio/extensions/fluvio-package ${FLUVIO_PUBLISH_TEST} \
    bump latest $(cat VERSION)

${HOME}/.fluvio/extensions/fluvio-package ${FLUVIO_PUBLISH_TEST} \
    tag "fluvio:$(cat VERSION)" --tag=stable --force
${HOME}/.fluvio/extensions/fluvio-package ${FLUVIO_PUBLISH_TEST} \
    tag "fluvio:$(cat VERSION)" --tag=latest --force

${HOME}/.fluvio/extensions/fluvio-package ${FLUVIO_PUBLISH_TEST} \
    tag "fluvio-run:$(cat VERSION)" --allow-missing-targets --tag=stable --force
${HOME}/.fluvio/extensions/fluvio-package ${FLUVIO_PUBLISH_TEST} \
    tag "fluvio-run:$(cat VERSION)" --allow-missing-targets --tag=latest --force
"""

# Bumps the `latest` version tag on packages.fluvio.io
#
# This uses a version made of the VERSION plus the current git hash.
[tasks.bump-fluvio-latest]
dependencies = ["install-fluvio-package"]
script = """
${HOME}/.fluvio/extensions/fluvio-package ${FLUVIO_PUBLISH_TEST} \
    bump latest "$(cat VERSION)+$(git rev-parse HEAD)"

${HOME}/.fluvio/extensions/fluvio-package ${FLUVIO_PUBLISH_TEST} \
    tag "fluvio:$(cat VERSION)+$(git rev-parse HEAD)" --tag=latest --force
${HOME}/.fluvio/extensions/fluvio-package ${FLUVIO_PUBLISH_TEST} \
    tag "fluvio-run:$(cat VERSION)+$(git rev-parse HEAD)" --allow-missing-targets --tag=latest --force
${HOME}/.fluvio/extensions/fluvio-package ${FLUVIO_PUBLISH_TEST} \
    tag "fluvio-channel:$(cat VERSION)+$(git rev-parse HEAD)" --allow-missing-targets --tag=latest --force
"""
