extend = "Base.toml"


# https://docs.aws.amazon.com/cli/latest/userguide/install-cliv2-linux.html
[tasks.install-aws-cli.linux]
script = '''
which aws 2> /dev/null > /dev/null || {
    curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip";
    unzip awscliv2.zip;
    sudo ./aws/install;
}
'''

[tasks.install-aws-cli.mac]
script = '''
which aws 2> /dev/null > /dev/null || {
    echo "Install aws cli at https://docs.aws.amazon.com/cli/latest/userguide/install-cliv2-mac.html";
    exit 1
}
'''


[tasks.s3-upload-installer]
dependencies = [
    "install-aws-cli",
]
command = "aws"
args = [
    "s3",
    "cp", "./install.sh", "s3://packages.fluvio.io/v1/install.sh",
    "--acl", "public-read",
]

[tasks.publish-fluvio]
dependencies = [
    "build-release",
    "install-fluvio-package",
    "publish-fluvio-env",
]
script = "${HOME}/.fluvio/bin/fluvio package --test publish --version=${FLUVIO_VERSION} ${FORCE_RELEASE} ./target/${TARGET}/release/fluvio"

[tasks.publish-fluvio-env.linux]
env = { TARGET = "x86_64-unknown-linux-musl" }

[tasks.publish-fluvio-env.mac]
env = { TARGET = "x86_64-apple-darwin" }

[tasks.publish-fluvio-latest]
extend = "publish-fluvio"
env = { FLUVIO_VERSION = { script = ["""echo "$(cat VERSION)+$(git rev-parse HEAD)" """] } }

[tasks.install-fluvio]
script = "curl -fsS https://packages.fluvio.io/v1/install.sh | bash"

[tasks.install-fluvio-package]
dependencies = ["install-fluvio"]
script = "${HOME}/.fluvio/bin/fluvio install --develop fluvio/fluvio-package"

[tasks.bump-fluvio]
dependencies = ["install-fluvio-package", "bump-fluvio-latest"]
script = """${HOME}/.fluvio/bin/fluvio package --test bump dynamic ${FLUVIO_VERSION} """

[tasks.bump-fluvio-latest]
dependencies = ["install-fluvio-package"]
script = """${HOME}/.fluvio/bin/fluvio package --test bump latest "$(cat VERSION)+$(git rev-parse HEAD)" """

[tasks.bump-fluvio-stable]
dependencies = ["install-fluvio-package"]
script = """${HOME}/.fluvio/bin/fluvio package bump stable $(cat VERSION)"""
