[package]
name = "fluvio-test-derive"
version = "0.0.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
edition = "2021"
description = "Fluvio Test Derive Macro"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
publish = false


[lib]
proc-macro = true

[dependencies]
syn = { version = "2.0", features = ["full"]}
quote = "1.0"
proc-macro2 = "1.0"
serde_json = "1.0"
inflections = "1.1"
fluvio-test-util = { path = "../fluvio-test-util" }
rand = "0.8.4"


[dev-dependencies]
trybuild = { git = "https://github.com/infinyon/trybuild", branch = "check_option" }
fluvio = { workspace = true  }
tokio = { workspace = true,  features = ["macros"] }
fluvio-future = { workspace = true, features = ["task", "timer", "subscriber", "fixture"] }
clap = { workspace = true,  features = ["std", "derive", "help", "usage", "error-context"] }
inventory = "0.3"
tracing = { workspace = true }
crossbeam-channel = "0.5"
