[package]
name = "fluvio-wasm-filter"
version = "0.0.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
edition = "2021"
publish = false

[lib]
crate-type = ['cdylib']

[dependencies]
fluvio-smartmodule = { path = "../../", version = "0.1.0" }
