[package]
name = "fluvio-smartmodule-derive"
version = "0.6.5"
edition = "2024"
license = "Apache-2.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
categories = ["wasm", "database", "encoding"]
keywords = ["streaming", "stream", "wasm", "fluvio"]
repository = "https://github.com/infinyon/fluvio"
description = "Fluvio SmartModule WASM procedural macro"

[lib]
proc-macro = true

[dependencies]
syn = { workspace = true, features = ["full"] }
quote = { workspace = true }
proc-macro2 = { workspace = true }
