[package]
name = "fluvio-spu-schema"
version = "0.13.0"
edition = "2021"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio API for SPU"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"

[lib]
name = "fluvio_spu_schema"
path = "src/lib.rs"

[features]
file = ["fluvio-future","fluvio-protocol/store"]

[dependencies]

log = "0.4.8"
tracing = "0.1.19"
bytes = "1.0.0"
serde = { version = "1.0.103", features = ['derive'] }
static_assertions = "1.1.0"
educe = { version = "0.4.19", features = ["Debug"] }
flate2 = { version = "1.0.20" }

fluvio-types = { version = "0.4.0", path = "../fluvio-types" }
fluvio-future = { version = "0.4.0", optional = true }
# Fluvio dependencies
fluvio-protocol = { path = "../fluvio-protocol", version = "0.9.0", features = [
    "api",
    "record",
] }
fluvio-smartmodule = { path = "../fluvio-smartmodule", version = "0.5.0", default-features = false }


[dev-dependencies]
futures-util = { version = "0.3.4" }
fluvio-socket = { path = "../fluvio-socket", features = ["file"] }
fluvio-future = { version = "0.4.0", features = ["fixture", "fs"] }
flv-util = { version = "0.5.2", features = ["fixture"] }
