[package]
name = "fluvio-spu-schema"
version = "0.10.1"
edition = "2021"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio API for SPU"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"

[lib]
name = "fluvio_spu_schema"
path = "src/lib.rs"

[features]
file = ["dataplane/file"]

[dependencies]

log = "0.4.8"
tracing = "0.1.19"
bytes = "1.0.0"
serde = { version = "1.0.103", features = ['derive'] }
static_assertions = "1.1.0"

# Fluvio dependencies
fluvio-protocol = { path = "../fluvio-protocol", version = "0.7" }
dataplane = { version = "0.12.0", path = "../fluvio-dataplane-protocol", package = "fluvio-dataplane-protocol", features = ["smartmodule"]}

[dev-dependencies]
futures-util = { version = "0.3.4" }
fluvio-socket = { path = "../fluvio-socket", features = ["file"] }
fluvio-future = { version = "0.4.0", features = ["fixture", "fs"] }
flv-util = { version = "0.5.2", features = ["fixture"] }