[package]
name = "fluvio"
version = "0.2.3"
edition = "2018"
license = "Apache-2.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
repository = "https://github.com/infinyon/fluvio"
description = "The offical Fluvio driver for Rust"

[lib]
name = "fluvio"
path = "src/lib.rs"

[features]
default = ["native_tls"]
admin = ["fluvio-sc-schema/use_serde"]
rust_tls = ["fluvio-future/tls","fluvio-socket/tls"]
native_tls = ["fluvio-future/native2_tls","fluvio-socket/native_tls"]

[dependencies]
cfg-if = "1.0.0"
tracing = "0.1.19"
tracing-futures = "0.2.4"
futures-util = "0.3.6"
dirs = "1.0.2"
toml = "0.5.5"
async-rwlock = "1.1.0"
base64 = { version = "0.12.0" }
async-trait = "0.1.30"
serde = { version = "1.0.110", features = ['derive'] }
serde_json = "1.0.53"
async-channel = "1.1.0"
event-listener = "2.5.1"
async-mutex = "1.2.0"
tokio = { version = "0.2.21", features = ["macros"] }
thiserror = "1.0.20"
once_cell = "1.5.2"

# Fluvio dependencies
fluvio-future = { version = "0.1.10", features = ["task"] }
fluvio-types = { version = "0.1.0", path = "../types" }
fluvio-sc-schema = { version = "0.2.0", path = "../sc-schema", default-features = false }
fluvio-spu-schema = { version = "0.1.0", path = "../spu-schema" }
fluvio-socket = { version = "0.4.0" }
fluvio-protocol = { version = "0.2.0" }
dataplane = { version = "0.1.0", path = "../dataplane-protocol", package = "fluvio-dataplane-protocol" }

[dev-dependencies]
async-std = "1.6.4"
