[package]
name = "fluvio"
version = "0.1.0"
edition = "2018"
license = "Apache-2.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
repository = "https://github.com/infinyon/fluvio"
description = "The offical Fluvio driver for Rust"

[lib]
name = "fluvio"
path = "src/lib.rs"

[dependencies]
dirs = "1.0.2"
toml = "0.5.5"
dashmap = "3.11.4"
async-rwlock = "1.1.0"
base64 = { version = "0.12.0" }
futures = { version = "0.3.4", features = ['async-await'] }
async-trait = "0.1.30"
serde = { version = "1.0.110", features = ['derive'] }
serde_json = "1.0.53"
async-channel = "1.1.0"
event-listener = "2.2.0"
async-mutex = "1.2.0"
tokio = { version = "0.2.21", features = ["macros"] }

# Fluvio dependencies
flv-util = "0.5.0"
fluvio-types = { version = "0.1.0", path = "../types" }
fluvio-sc-schema = { version = "0.1.0", path = "../sc-schema", default-features = false }
fluvio-spu-schema = { version = "0.1.0", path = "../spu-schema" }
flv-future-aio = { version = "3.0.0", features = ["tls"] }
kf-socket = { version = "3.0.0", path = "../kf-socket" }
fluvio-protocol = { version = "0.1.0" }
dataplane = { path = "../dataplane-protocol", package = "fluvio-dataplane-protocol" }

[dev-dependencies]
async-std = "1.6.4"
