[package]
name = "fluvio"
version = "0.8.1"
edition = "2018"
license = "Apache-2.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
categories = ["database"]
keywords = ["streaming", "stream", "queue"]
repository = "https://github.com/infinyon/fluvio"
description = "The offical Fluvio driver for Rust"

[lib]
name = "fluvio"
path = "src/lib.rs"

[features]
admin = ["fluvio-sc-schema/use_serde"]

[dependencies]
tracing = "0.1.19"
tracing-futures = "0.2.4"
futures-util = "0.3.6"
bytes = "1.0.1"
dirs = "1.0.2"
toml = "0.5.5"
async-rwlock = "1.1.0"
base64 = { version = "0.13.0" }
serde = { version = "1.0.110", features = ['derive'] }
serde_json = "1.0.53"
async-channel = "1.1.0"
event-listener = "2.5.1"
async-lock = "2.4.0"
tokio = { version = "1.3.0", features = ["macros", "sync"] }
thiserror = "1.0.20"
once_cell = "1.5.2"
semver = "0.11.0"
pin-project-lite = "0.2"
siphasher = "0.3.5"

# Fluvio dependencies
fluvio-future = { version = "0.3.0", features = ["task", "native2_tls"] }
fluvio-types = { version = "0.2.1", features = ["events"], path = "../types" }
fluvio-sc-schema = { version = "0.8.1", path = "../sc-schema", default-features = false }
fluvio-spu-schema = { version = "0.6.0", path = "../spu-schema" }
fluvio-socket = { path = "../socket", version = "0.8.1" }
fluvio-protocol = { path = "../protocol", version = "0.5.1" }
dataplane = { version = "0.5.1", path = "../dataplane-protocol", package = "fluvio-dataplane-protocol" }

[dev-dependencies]
async-std = { version = "1.6.4", default-features = false }
fluvio-future = { version = "0.3.0", features = ["fixture"] }
