[package]
name = "fluvio-protocol"
edition = "2018"
version = "0.6.2"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio streaming protocol"
repository = "https://github.com/infinyon/fluvio-protocol"
license = "Apache-2.0"
categories = ["encoding", "api-bindings"]

[features]
default = ["derive"]
derive = ["fluvio-protocol-derive"]
api = []
codec = ["tokio-util"]
store = ["fluvio-future"]

[dependencies]
tracing = "0.1"
fluvio-protocol-derive = { version = "0.3.0", path = "../fluvio-protocol-derive", optional = true }
fluvio-future = { version = "0.3.0", optional = true }
bytes = { version = "1" }
tokio-util = { version = "0.6.4", features = ["codec", "compat"], optional = true }

[dev-dependencies]
fluvio-protocol = { path = ".", features = ["api"]}
flv-util = { version = "0.5.2" }
fluvio-protocol-derive = { version = "0.3.0", path = "../fluvio-protocol-derive" }
fluvio-future = { version = "0.3.0", features = ["fixture", "subscriber", "timer", "net"] }
futures = { version = "0.3.1" }
