[package]
name = "fluvio-protocol"
edition = "2021"
version = "0.8.4"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio streaming protocol"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
categories = ["encoding", "api-bindings"]

# Refer: https://bheisler.github.io/criterion.rs/book/faq.html#cargo-bench-gives-unrecognized-option-errors-for-valid-command-line-options
[lib]
bench = false

[[bench]]
name = "bench"
harness = false

[features]
default = ["derive"]
derive = ["fluvio-protocol-derive"]
api = [ ]
codec = ["tokio-util"]
store = ["fluvio-future"]
record = ["crc32c","content_inspector","fluvio-compression","once_cell","fluvio-types"]
link = ["api","record","thiserror","flv-util","semver","eyre"]
fixture = ["record","derive_builder"]

[dependencies]
tracing = "0.1"
bytes = { version = "1" }
crc32c = { version = "0.6", optional = true}
thiserror = { version = "1", optional = true }
tokio-util = { version = "0.7.0", features = [
    "codec",
    "compat",
], optional = true }
semver = { version = "1.0.0", optional = true }
content_inspector = { version = "0.2.4", optional = true }
once_cell = { version = "1.5.2", optional = true }
derive_builder = { version = "0.12.0" , optional = true }
eyre = { version = "0.6", default-features = false, optional = true }

fluvio-protocol-derive = { version = "0.4.0", path = "../fluvio-protocol-derive", optional = true }
fluvio-future = { version = "0.4.0", optional = true }
flv-util = { version = "0.5.0", optional = true }
fluvio-compression = { version = "0.2", path = "../fluvio-compression", optional = true}
fluvio-types = { version = "0.4.0", path = "../fluvio-types", optional = true }

[dev-dependencies]
criterion = "0.4.0"
trybuild = "1.0.64"
fluvio-protocol = { path = ".", features = ["derive", "api"] }
fluvio-future = { version = "0.4.0", features = [
    "fixture",
    "subscriber",
    "timer",
    "net",
] }
futures = { version = "0.3.1" }
