[package]
name = "fluvio-connector-package"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
repository = "https://github.com/infinyon/fluvio"
description = "Fluvio Connector Package"

[features]
default = ["toml"]

[dependencies]
bytesize = "1.1.0"
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde_yaml = "0.9.17"
humantime-serde = "1.1.1"
toml = { workspace = true , default-features = false, optional = true, features = ["preserve_order"] }
fluvio-controlplane-metadata = { path = "../fluvio-controlplane-metadata/", default-features = false, features = [
    "use_serde",
] }
fluvio-smartengine = { path = "../fluvio-smartengine", default-features = false, features = [
    "transformation",
] }
fluvio-compression = { path = "../fluvio-compression" }
fluvio-types = { path = "../fluvio-types" }

tracing = { workspace = true }
anyhow = { workspace = true }
openapiv3 = { git = "https://github.com/galibey/openapiv3", rev = "bdd22f046d2bc19ede257504645d31f835545222", default-features = false }
once_cell = { version = "1.17" }

[dev-dependencies]
tempfile = "3.3"
pretty_assertions = "1.3.0"
