[package]
name = "fluvio-connector-package"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
repository = "https://github.com/infinyon/fluvio"
description = "Fluvio Connector Package"

[features]
default = ["toml"]

[dependencies]
anyhow = { workspace = true }
bytesize = { workspace = true }
humantime-serde = { workspace = true }
minijinja = { version = "2.8", default-features = false, features = ["custom_syntax", "fuel"] }
openapiv3 = { version = "2.0", default-features = false }
serde = { workspace = true, features = ["derive"], default-features = false }
serde_yaml = { workspace = true }
toml = { workspace = true , optional = true, features = ["display", "parse", "preserve_order"] }
tracing = { workspace = true }

# fluvio dependencies
fluvio-controlplane-metadata = { path = "../fluvio-controlplane-metadata/", default-features = false, features = [
    "use_serde",
] }
fluvio-smartengine = { path = "../fluvio-smartengine", default-features = false, features = [
    "transformation",
] }
fluvio-types = { path = "../fluvio-types" }
bytesize-serde = "0.2.1"

[dev-dependencies]
tempfile = { workspace = true }
pretty_assertions = "1.4.0"
