[package]
name = "fluvio-hub-util"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
description = "API for SmartModule Hub"
authors = ["fluvio.io"]
repository = "https://github.com/infinyon/fluvio"
publish = false

[features]
connector-cmds = [
    "dep:clap",
    "dep:current_platform",
    "dep:comfy-table",
    "dep:fluvio-extension-common",
]

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
cargo_toml = { workspace = true }
const_format = { workspace = true }
dirs = { workspace = true }
ed25519-dalek = { version = "2.1", features = ["serde", "rand_core"] }
flate2 = { workspace = true }
hex = { workspace = true }
http = { workspace = true }
mime = { workspace = true }
pem = "3.0"
rand = { workspace = true }
sha2 = { workspace = true }
semver = { workspace = true }
serde = { workspace = true, features=["derive"] }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
ssh-key = { version="0.6.1", features=[ "ed25519" ] }
tar = { workspace = true }
pathdiff = { version = "0.2.1", default-features = false }
tempfile = { workspace = true }
tracing = { workspace = true }
thiserror = { workspace = true }
url = { workspace = true }
wasmparser = { workspace = true }
current_platform = { workspace = true, optional = true }
clap = { workspace = true, optional = true }
comfy-table = { workspace = true, optional = true }

fluvio-future = { workspace = true, features = ["fixture", "task", "tls"] }
fluvio-hub-protocol = { path = "../fluvio-hub-protocol" }
fluvio-types = { workspace = true }
fluvio-extension-common = { workspace = true,  optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
ureq = { workspace = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
http = { workspace = true, features = ["std"] }
getrandom = { workspace = true, features = ["js"] }
reqwest = { workspace = true, features = ["json"] }
