[package]
name = "fluvio-hub-util"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
description = "API for SmartModule Hub"
authors = ["fluvio.io"]
repository = "https://github.com/infinyon/fluvio"
publish = false

[dependencies]
cargo_toml = { workspace = true }
const_format = "0.2"
dirs = "4.0.0"
ed25519-dalek = { version = "1.0.1", features = ["serde"] }
flate2 = "1.0"
hex = "0.4"
pem = "1.1"
rand = "0.8"
rand_core = "0.6"
sha2 = "0.10.6"
serde = { version="1.0", features=["derive"] }
serde_json = "1.0"
serde_yaml = "0.9"
ssh-key = { version="0.4.3", features=[ "ed25519" ] }
tar = "0.4"
tempfile = "3.3.0"
tokio = "1.20"
toml = { workspace = true }
tracing = { workspace = true }
thiserror = { workspace = true }
wasmparser = { workspace = true }

fluvio-controlplane-metadata = { path="../fluvio-controlplane-metadata", features = [ "smartmodule" ] }
fluvio-hub-protocol = { path = "../fluvio-hub-protocol" }
fluvio-types = { path = "../fluvio-types" }

# feature control
[dependencies.surf]
version = "2.3.2"
features = ["h1-client-rustls", "encoding"]
default-features = false

[dependencies.http-client]
version = "6.5.3"
features = ["h1_client", "rustls"]
default-features = false

[dev-dependencies]
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
