[package]
name = "fluvio-hub-util"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
description = "API for SmartModule Hub"
authors = ["fluvio.io"]
repository = "https://github.com/infinyon/fluvio"
publish = false

[dependencies]
anyhow = { workspace = true }
cargo_toml = { workspace = true }
const_format = { workspace = true }
dirs = { workspace = true }
ed25519-dalek = { version = "1.0.1", features = ["serde"] }
flate2 = { workspace = true }
hex = { workspace = true }
pem = "3.0"
rand = { workspace = true }
rand_core = "0.6"
sha2 = { workspace = true }
semver = { workspace = true }
serde = { workspace = true, features=["derive"] }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
ssh-key = { version="0.6.1", features=[ "ed25519" ] }
surf = { workspace = true }
tar = { workspace = true }
pathdiff = { version = "0.2.1", default-features = false }
tempfile = { workspace = true }
toml = { workspace = true }
tracing = { workspace = true }
thiserror = { workspace = true }
url = { workspace = true }
wasmparser = { workspace = true }

fluvio-future = { workspace = true, features = ["task"]}
fluvio-hub-protocol = { path = "../fluvio-hub-protocol" }
fluvio-types = { workspace = true }

[dev-dependencies]
tracing-subscriber = { workspace = true,  features = ["env-filter", "fmt"] }
