[package]
name = "fluvio-run"
version = "0.0.0"
edition = "2021"
authors = ["Fluvio Contributors <team@fluvio.io>"]
description = "Fluvio Engine Runner"
repository = "https://github.com/infinyon/fluvio"
license = "Apache-2.0"
publish = false

[lib]
name = "fluvio_run"
path = "src/lib.rs"

[[bin]]
name = "fluvio-run"
path = "src/bin/main.rs"
doc = false

[features]
default = []

[dependencies]
tracing = "0.1"
tracing-subscriber = "0.3"
clap = { version = "4.0.12", features = ["std", "derive"], default-features = false }
thiserror = "1.0.20"
semver = "1.0.0"
serde_json = "1.0.64"

# regardless of TLS, sc and spu always use openssl_tls for now because we need cert API
fluvio-future = { version = "0.4.0", features = ["subscriber"] }
fluvio-sc = { path = "../fluvio-sc" }
fluvio-spu = { path = "../fluvio-spu" }
fluvio-extension-common = { path = "../fluvio-extension-common" }
