[package]
name = "fluvio-auth"
version = "0.6.1"
authors = ["Fluvio Contributors <team@fluvio.io>"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/infinyon/fluvio"
description = "Authorization framework for Fluvio"


[lib]
name = "fluvio_auth"
path = "src/lib.rs"

[dependencies]
async-trait = "0.1.41"
bytes = "1"
serde = { version = "1.0.103", features = ['derive'] }
serde_json = "1.0.59"
thiserror = "1.0.21"
tracing = "0.1"
tracing-futures = "0.2.4"
x509-parser = "0.9.1"

fluvio-controlplane-metadata = { version = "0.9.1", path = "../controlplane-metadata" }
dataplane = { version = "0.6", path = "../dataplane-protocol", package = "fluvio-dataplane-protocol" }
fluvio-future = { version = "0.3.0", features = ["net", "openssl_tls"] }
fluvio-protocol = { path = "../protocol",  version = "0.6" }
fluvio-socket = { path = "../socket", version = "0.8.1" }
fluvio-types = { version = "0.2.0", path = "../types" }
flv-tls-proxy = { version = "0.5.0" }
futures-util = { version = "0.3.5" }
