name: CI

permissions:
  contents: read

on:
  push:
    branches:
      - staging
      - trying
  pull_request:
    branches: [master]
  workflow_dispatch:
    inputs:
      verbose:
        description: "Set --verbose to get verbose build output"
        required: false
        default: ''

env:
  VERBOSE: ${{ github.events.input.verbose }}

jobs:
  cancel_previous_runs:
    name: Cancel Previous Runs
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

  rustfmt:
    name: Rustfmt (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [stable]
    env:
      RUST_BACKTRACE: full
      RUSTC_WRAPPER: sccache
      SCCACHE_CACHE_SIZE: 300M
      SCCACHE_DIR: /home/runner/.cache/sccache
      SCCACHE_IDLE_TIMEOUT: 0
      FLV_SOCKET_WAIT: 600
      RUSTV: ${{ matrix.rust }}
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
      - name: Check rustfmt
        run: make check-fmt

  tests:
    name: ${{ matrix.make.name }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        rust: [stable]
        task:
          - name: Clippy
            run: make check-clippy
            publish: false
          - name: Doc tests
            run: make run-all-doc-test
            publish: false
          - name: Unit tests
            run: make build-all-test run-all-unit-test
            publish: true
        include:
          - os: ubuntu-latest
            sccache-path: /home/runner/.cache/sccache
          - os: macos-latest
            sccache-path: /Users/runner/Library/Caches/Mozilla.sccache
        exclude:
          - os: macos-latest
            rust: stable
            task:
              name: Clippy
    env:
      RUST_BACKTRACE: full
      RUSTC_WRAPPER: sccache
      RUSTV: ${{ matrix.rust }}
      SCCACHE_CACHE_SIZE: 2G
      SCCACHE_DIR: ${{ matrix.sccache-path }}
      # SCCACHE_RECACHE: 1 # Uncomment this to clear cache, then comment it back out
    steps:
      - uses: actions/checkout@v2
      - name: Install sccache (ubuntu-latest)
        if: matrix.os == 'ubuntu-latest'
        env:
          LINK: https://github.com/mozilla/sccache/releases/download
          SCCACHE_VERSION: 0.2.13
        run: |
          SCCACHE_FILE=sccache-$SCCACHE_VERSION-x86_64-unknown-linux-musl
          mkdir -p $HOME/.local/bin
          curl -L "$LINK/$SCCACHE_VERSION/$SCCACHE_FILE.tar.gz" | tar xz
          mv -f $SCCACHE_FILE/sccache $HOME/.local/bin/sccache
          echo "$HOME/.local/bin" >> $GITHUB_PATH
      - name: Install sccache (macos-latest)
        if: matrix.os == 'macos-latest'
        run: |
          brew update
          brew install sccache
      - name: Install Rust ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
      - name: Cache cargo registry
        uses: actions/cache@v2
        continue-on-error: false
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-
      - name: Save sccache
        uses: actions/cache@v2
        continue-on-error: false
        with:
          path: ${{ matrix.sccache-path }}
          key: ${{ runner.os }}-sccache-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-sccache-
      - name: Start sccache server
        run: sccache --start-server

      - name: If running on 'staging', build in release mode
        run: |
          ([[ "${GITHUB_REF#refs/heads/}" == "staging" ]] && echo "RELEASE=true" | tee $GITHUB_ENV) || true

      - name: ${{ matrix.task.name }}
        run: ${{ matrix.task.run }}

      - name: Stop sccache server
        run: sccache --stop-server || true

      - name: Publish fluvio artifact
        if: ${{ matrix.task.publish }}
        uses: actions/upload-artifact@v2
        with:
          name: ${{ runner.os }}-fluvio

      - name: Publish fluvio-run artifact
        if: ${{ matrix.task.publish }}
        uses: actions/upload-artifact@v2
        with:
          name: ${{ runner.os }}-fluvio-run

  local_cluster_test:
    name: Local cluster test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [infinyon-ubuntu-bionic]
        rust: [stable]
    env:
      FLUVIO_CMD: true
      FLV_SOCKET_WAIT: 600
    steps:
      - uses: actions/checkout@v2
      - run: helm version
      - name: Install ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
      - name: Setup Minikube for Linux
        run: |
          minikube delete
          minikube start --driver=docker --kubernetes-version 1.19.6
          sleep 30
      - name: Test minikube
        run: |
          minikube profile list
          minikube status
      - name: Build Test
        run: |
          make RELEASE=release build_test
      - name: Setup installation pre-requisites
        run: |
          cargo run --release --bin fluvio -- cluster start --setup --local --develop
      - name: Print Fluvio version
        run: |
          cargo run --release --bin fluvio -- version
      - name: Run smoke-test
        timeout-minutes: 1
        run: |
          make RELEASE=true UNINSTALL=noclean smoke-test-tls-root
      - name: Build examples
        run: examples/tests/build.sh --release
      - name: Test examples
        timeout-minutes: 1
        run: examples/tests/run.sh --release
      - run: minikube delete
      - name: Upload SC log
        uses: actions/upload-artifact@v2
        timeout-minutes: 5
        if: failure()
        with:
          name: fluvio-sc-logs
          path: /tmp/flv_sc.log

  k8_cluster_test:
    name: Kubernetes cluster test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [infinyon-ubuntu-bionic]
        rust: [stable]
    env:
      FLUVIO_CMD: true
      FLV_SOCKET_WAIT: 600
      FLV_CLUSTER_MAX_SC_VERSION_LOOP: 120
      FLV_CLUSTER_MAX_SC_NETWORK_LOOP: 60
      FLV_TEST_CONSUMER_WAIT: 300000
    steps:
      - uses: actions/checkout@v2
      - run: helm version
      - name: Install ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
      - name: Setup Minikube for Linux
        if: startsWith(matrix.os, 'infinyon-ubuntu')
        run: |
          pkill -f "minikube tunnel" || true
          minikube delete
          minikube start --driver=docker --kubernetes-version 1.19.6
          nohup  minikube tunnel --alsologtostderr > /tmp/tunnel.out 2> /tmp/tunnel.out &
      - name: Test minikube
        run: |
          minikube profile list
          minikube status
      - name: Build
        run: |
          make RELEASE=release TARGET=x86_64-unknown-linux-musl build_test
      - name: Setup installation pre-requisites
        run: |
          make RELEASE=true TARGET=x86_64-unknown-linux-musl  k8-setup
      - name: Make image
        run: make RELEASE=true minikube_image
      - name: Run smoke-test-k8-tls-root
        timeout-minutes: 5
        run: |
          make RELEASE=true TARGET=x86_64-unknown-linux-musl UNINSTALL=noclean smoke-test-k8-tls-root
      - name: Clean minikube
        run: |
          minikube delete
          pkill -f "minikube tunnel" || true
      - name: Save logs
        if: failure()
        run: |
          echo "minikube profile list"
          minikube profile list
          echo "helm list"
          helm list
          echo "get statefulset"
          kubectl get statefulset
          echo "kubectl get pvc"
          kubectl get pvc
          echo "kubectl get pods"
          kubectl get pods
          echo "kubectl get svc"
          kubectl get svc
          echo "kubectl get spu"
          kubectl get spu
          echo "kubectl get spg"
          kubectl get spg
          kubectl logs -l app=fluvio-sc > /tmp/flv_sc.log
      - name: Upload logs
        timeout-minutes: 5
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: fluvio-k8-logs
          path: /tmp/flv_sc.log

  k8_cluster_upgrade:
    name: Kubernetes cluster upgrade test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [infinyon-ubuntu-bionic]
        rust: [stable]
    env:
      FLUVIO_CMD: true
      FLV_SOCKET_WAIT: 600
      FLV_CLUSTER_MAX_SC_VERSION_LOOP: 120
      FLV_CLUSTER_MAX_SC_NETWORK_LOOP: 60
      FLV_TEST_CONSUMER_WAIT: 300000
    steps:
      - uses: actions/checkout@v2
      - run: helm version
      - name: Install Rust ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          profile: minimal
          override: true
      - name: Setup Minikube for Linux
        if: startsWith(matrix.os, 'infinyon-ubuntu')
        run: |
          pkill -f "minikube tunnel" || true
          minikube delete
          minikube start --driver=docker --kubernetes-version 1.19.6
          nohup  minikube tunnel --alsologtostderr > /tmp/tunnel.out 2> /tmp/tunnel.out &
      - name: Test minikube
        run: |
          minikube profile list
          minikube status
      - name: Install stable Fluvio CLI and start cluster
        run: |
          curl -fsS https://packages.fluvio.io/v1/install.sh | bash
          ~/.fluvio/bin/fluvio cluster start
          ~/.fluvio/bin/fluvio version
      # Build, upgrade and test current version
      - name: Build
        run: |
          make RELEASE=release TARGET=x86_64-unknown-linux-musl build_test
      - name: Setup installation pre-requisites
        run: |
          make RELEASE=true TARGET=x86_64-unknown-linux-musl  k8-setup
      - name: Make image
        run: make RELEASE=true minikube_image
      - name: Upgrade cluster
        run: |
          cargo run --release --bin fluvio -- cluster upgrade --chart-version=$(cat VERSION) --develop 
          cargo run --release --bin fluvio -- version 
      - name: Run smoke-test-k8-tls-root
        timeout-minutes: 5
        run: |
          make RELEASE=true TARGET=x86_64-unknown-linux-musl UNINSTALL=noclean smoke-test-k8-tls-root
          cargo run --release --bin flv-test --	smoke --develop --disable-install -- --producer-iteration=1000
      - name: Clean minikube
        run: |
          minikube delete
          pkill -f "minikube tunnel" || true
      - name: Save logs
        if: failure()
        run: |
          echo "minikube profile list"
          minikube profile list
          echo "helm list"
          helm list
          echo "get statefulset"
          kubectl get statefulset
          echo "kubectl get pvc"
          kubectl get pvc
          echo "kubectl get pods"
          kubectl get pods
          echo "kubectl get svc"
          kubectl get svc
          echo "kubectl get spu"
          kubectl get spu
          echo "kubectl get spg"
          kubectl get spg
          kubectl logs -l app=fluvio-sc > /tmp/flv_sc.log
      - name: Upload logs
        timeout-minutes: 5
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: fluvio-k8-logs
          path: /tmp/flv_sc.log