name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  check_fmt:
    name: check cargo fmt
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Install ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
        with:
          components: rustfmt
      - name: check fmt
        run: make check-fmt

  unit_test:
    name: Unit test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Install ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
      - name: Show rustup
        run: rustup show
      - name: Run unit tests
        run: cargo test

  local_cluster_test:
    name: Local cluster test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [nightly]

    steps:
      - uses: actions/checkout@v2
      - name: Install ${{ matrix.rust }}
        uses: actions-rs/toolchain@v1
      - name: Start minikube
        uses: manusa/actions-setup-minikube@v2.0.0
        with:
          minikube version: "v1.12.3"
          kubernetes version: "v1.18.8"
          github token: ${{ secrets.GITHUB_TOKEN }}
      - name: Test Minikube
        run: |
          kubectl get nodes
          kubectl config view
          helm version
          minikube status
      - name: Run minikube tunnel
        run: |
          minikube tunnel  > /tmp/tunnel.out 2> /tmp/tunnel.out &
          sleep 10
          echo "tunnel status"
          cat /tmp/tunnel.out
      - name: Build
        run: |
          cargo build
      - name: setup context
        run: |
          ./target/debug/fluvio cluster set-minikube-context
          kubectl config view
          helm list
      - name: install fluvio system chart
        run: |
          FLV_CMD=true ./target/debug/fluvio cluster install --sys
      - name: smoke test
        run: |
          FLV_CMD=true make smoke-test
      - name: smoke test setup k8
        run: |
          sudo apt install -y musl-tools
          sudo ln -s /usr/bin/musl-gcc /usr/local/bin/x86_64-linux-musl-gcc
          ./dev-tools/minikube-docker.sh 
          docker run -d -p 5000:5000 --restart=always --name registry registry:2
      - name: run smoke test run k8
        run: |
          export TARGET_CC=musl-gcc
          FLV_CMD=true make smoke-test-k8
          
