name: Composite Action Test Workflow

permissions:
  contents: read

on:
  push:
    branches: [master]
    tags:
      - 'v*'
#  pull_request:
#    branches: [master]
  workflow_dispatch:

jobs:

  cancel_previous_runs:
    name: Cancel Previous Runs
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}

  composite_action_test:
    name: Composite Action Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [stable]

    steps:
      - uses: actions/checkout@v2
      - uses: ./
        name: Install Fluvio Local Cluster
      - name: Fluvio command test
        continue-on-error: true
        run: |
          fluvio version
          fluvio topic list
          fluvio topic create "foobar"
          sleep 3
          echo foo | fluvio produce "foobar"
          fluvio consume foobar -o 0 -d
          # Delete the topic afterword but this looks to not work right now.
          # fluvio topic delete "foobar"
