name: Publish Helm Chart

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  publish_helm:
    name: Publish Helm Chart
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Helm
        run: actions/ci-replace-helm.sh
        env:
          HELM_VERSION: v3.3.4
          OS: ${{ matrix.os }}
      - name: Install Helm Push plugin
        run: helm plugin install https://github.com/chartmuseum/helm-push.git
      - name: Helm Add Repo
        run: helm repo add chartmuseum https://gitops:${{ secrets.HELM_PASSWORD }}@charts.fluvio.io
      - name: Push Sys Chart
        run: |
          helm push k8-util/helm/fluvio-sys --version="$(cat VERSION)" --force chartmuseum
          helm push k8-util/helm/fluvio-sys --version="$(cat VERSION)+$(git rev-parse HEAD)" --force chartmuseum
      - name: Push App Chart
        run: |
          helm push k8-util/helm/fluvio-app --version="$(cat VERSION)" --force chartmuseum
          helm push k8-util/helm/fluvio-app --version="$(cat VERSION)+$(git rev-parse HEAD)" --force chartmuseum
