name: Release

on:
#  push:
#    # Sequence of patterns matched against refs/tags
#    tags:
#      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
  workflow_dispatch:

jobs:
  build:
    name: Upload Release Asset
    runs-on: macOS-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install github-release
        run: go get github.com/github-release/github-release
      - name: Install /tmp/cli-x86_64-unknown-linux-musl-release.tar.gz
        run: |
          brew install filosottile/musl-cross/musl-cross
      - name: Release docker
        run: |
          docker login --username=${{ secrets.DOCKER_USERNAME }} --password=${{ secrets.DOCKER_PASSWORD }}
          make release_image
      - name: Release helm chart
        run: |
          make helm-install-plugin
          make helm-login
          make helm-publish-app
      - name: Release to Github
        run: |
          export TARGET_CC=x86_64-linux-musl-gcc
          make release_github
